

::ng-deep  .not-available {
  background-color: rgba(128, 0, 17, 0.476)!important; /* Light green background */
}

  .title {
    height: 60px;
    background-color: #f7f7f7;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
  }
  /* Flexbox container */
.item-container {
    display: flex;
    gap: 2rem; /* Space between sidebar and details */
    align-items: flex-start;
    padding: 20px;
  }
  
  /* Sidebar styles */
  .sidebar {
    flex: 1; /* Sidebar takes 1/3 of the space */
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
  }
  
  .item-image {
    border: #ccc solid 1px;
    width: 80%;
    border-radius: 8px;
    margin: 10%;
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  .book-button,
  .reserve-button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-button[disabled] {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .reserve-button {
    background-color: #ff9800;
  }
  
  .unavailable {
    margin-top: 10px;
    color: #ff0000;
  }
  
  /* Details section */
  .details {
    flex: 2; /* Details section takes 2/3 of the space */
  }
  
  .details h2 {
    margin-top: 0;
  }
  
  .review {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  .review strong {
    display: block;
  }
  
  .review span {
    font-size: 0.9em;
    color: #666;
  }

  form {
    width: 100%;
  }

  button#borrow {
    width: 100%;
    margin-top: 10px;
  }
  