<div *ngIf="!item" class="item-container">
  Not found
</div>
<div *ngIf="item" class="item-container">
    <!-- Sidebar Section -->
    <div class="sidebar">
      <img [src]="item.imageUrl" alt="{{ item.name }}" class="item-image" />


      <form [formGroup]="bookForm">
        <tui-calendar-range 
         [defaultViewedMonth]= "defaultViewedMonth"
         [min]="min" 
         [max]="max" 
         [markerHandler]="markerHandler" 
         />

        <button  id="borrow"
        i18n="@@borrowButton" appearance="primary" size="m" tuiButton type="button">
          Borrow
        </button>
    </form>
    </div>
  
    <!-- Details Section -->
    <div class="details">
      <h1>{{ item.name }}</h1>
      <div>
        Rating: <app-star-rating [rating]="3.5"></app-star-rating>
      </div>
      <div class="rich-description" [innerHTML]="sanitizedDescription"></div>

    </div>
  </div>