@use 'theme' as *;

/* Add Item Container */
.add-item-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid $border-color;
    /* Use theme border color */
    border-radius: 8px;
    background-color: $white;
    /* Clean white background */
}

/* Heading */
h2 {
    text-align: left;
    margin-bottom: 20px;
    color: $dark-color;
    /* Dark text for the heading */
}

/* Form */


/* Label */
label {
    font-weight: bold;
    color: $dark-color;
    /* Dark text for labels */
}

/* Input, Textarea, Select */
input,
textarea,
select {
    padding: 10px;
    border: 1px solid $border-color;
    /* Subtle border color */
    border-radius: 4px;
    font-size: 1rem;
    background-color: $white;
    /* Clean white background for form elements */
    color: $dark-color;
    /* Dark text inside input fields */
}

/* Button */
button {
    padding: 10px 20px;
    background-color: $accent-color;
    /* Use primary color for the button */
    color: $white;
    /* White text */
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: $secondary-color;
    /* Disabled button background */
    cursor: not-allowed;
}

/* Quill Editor */
quill-editor {
    background-color: $white;
    /* Ensure the editor has a white background */
    margin-bottom: 100px;
}

/* Drag & Drop Zone */
.drag-drop-zone {
    width: 100%;
    height: 150px;
    border: 2px dashed $primary-color;
    /* Use primary color for the dashed border */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $primary-color;
    /* Primary color for the text */
    text-align: center;
}

.drag-drop-zone:hover {
    background-color: $light-color;
    /* Light background on hover */
}