@use 'styles' as *;


.category-badge {
    height: 30px;
    display: inline-block;
    padding: 3px 12px;
    border-radius: 30px;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--tos-text-primary-on-accent-1);
    /* White text for badges */
    text-align: center;
    min-width: 120px;
    /* Ensure consistent width */
}