@use 'styles' as *;


footer {
    position: relative;
    background-color: var(--tos-background-base);
    padding: 20px;
    margin-top: 30px;

    a {
        color: var(--tos-text-primary);
        text-decoration: none;
    }

    a:hover {
        color: var(--tos-text-accent);
        cursor: pointer;
    }

    .footer-container {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

        .footer-branding {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            img {
                width: 140px;
            }
        }


        ul {
            list-style: none;
            padding: 0;
            line-height: 2.0;
        }
    }

    .footer-copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--tos-background-accent-1);
        color: var(--tos-text-primary-on-accent-1);
        padding: 20px;
        border-radius: 16px;
        margin-top: 20px;

        display: grid;
        grid-template-columns: 4fr 2fr;
        gap: 10px;

        a {
            color: var(--tos-text-primary-on-accent-1);
        }

        a:hover {
            color: var(--tos-text-accent);
        }


        .github-link {
            width: 24px;
            height: 24px;
            margin-right: 15px;
            border: 2px solid var(--tos-text-primary-on-accent-1);
            border-radius: 50%;
            padding: 5px;
        }

        .github-link:hover {
            border-color: var(--tos-text-accent);
        }

        .powered-by {
            padding: 5px;
            font-weight: 600;
            font-size: 0.9em;

            tui-icon {
                color: pink;
            }
        }

        .footer-copyright-left {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
        }

        .footer-copyright-right {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: end;
            gap: 10px;
        }
    }

    #scrollToTop {
        display: none;
        position: relative;
        top: -40px;
        right: 200px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--tos-text-primary-on-accent-1);
        background-color: var(--tos-background-accent-1);
        color: var(--tos-text-primary-on-accent-1);
        float: right;

    }

    #scrollToTop.show {
        display: block;
    }

    #scrollToTop:hover {
        background-color: var(--tui-background-accent-1-hover);
        cursor: pointer;
    }
}

@media (max-width: 800px) {

    footer {
        .footer-container {

            .footer-branding {
                img {
                    width: 80px;
                }
            }

            gap: 5px;

            width: 100%;
            padding: 0px;
            grid-template-columns: 1fr 2fr 2fr;

        }

        .footer-copyright {
            grid-template-columns: 1fr;
        }

        .footer-copyright-right {

            justify-content: left !important;
            gap: 0 !important;
        }
    }

    #scrollToTop {
        tui-icon {
            padding: 2px !important;
            right: 4px !important;
        }
    }

}