<footer>
  <button id="scrollToTop" class="scroll-to-top" (click)="scrollToTop()">
    <tui-icon icon="@tui.arrow-up"></tui-icon>
  </button>
  <div class="footer-container">
    <div class="footer-branding">
      <img alt="{{ 'footer.brandingAlt' | translate }}" src="/logo-bright.png" />
    </div>
    <div class="footer-links">
      <h3 class="footer-help-title">{{ 'footer.usefulLinks' | translate }}</h3>
      <ul>
        @for (page of customPages.get('footer-links') || []; track page.ref) {
          <li><a [routerLink]="['/hub/page', page.ref]">{{ page.title }}</a></li>
        }
      </ul>
    </div>
    <div class="footer-help">
      <h3 class="footer-help-title">{{ 'footer.needHelp' | translate }}</h3>
      <ul>
        <li><a routerLink="/hub/help-center">{{ 'footer.helpCenter' | translate }}</a></li>
        @for (page of customPages.get('footer-help') || []; track page.ref) {
          <li><a [routerLink]="['/hub/page', page.ref]">{{ page.title }}</a></li>
        }
      </ul>
      <language-switcher />
    </div>
  </div>

  <div class="footer-copyright">
    <div class="footer-copyright-left">
      <span class="copyright"
        ><tui-icon icon="@tui.copyright" />2025 TheOpenShelf</span
      >
      @for (page of customPages.get('copyright') || []; track page.ref) {
        <a [routerLink]="['/hub/page', page.ref]">{{ page.title }}</a>
      }
    </div>
    <div class="footer-copyright-right">
      <a
        class="github-link"
        href="https://github.com/theopenshelf"
        target="_blank"
      >
        <tui-icon icon="@tui.github" />
      </a>
      <span class="powered-by"
        >{{ 'footer.poweredBy' | translate }} <tui-icon icon="@tui.heart" /> The Open Shelf</span
      >
    </div>
  </div>
</footer>
