<div class="table-container">
    <!-- Column Selector Dropdown -->
    <div class="table-top-actions">
        <div class="add-action">
            <button class="add-action" [routerLink]="addActionRoute()" i18n="@@borrowButton" appearance="primary"
                size="s" tuiButton type="button">
                <ng-content select="[add-action-content]"></ng-content>
            </button>
        </div>

        <div class="filter-actions">
            <input type="text" placeholder="Filter" [(ngModel)]="filterInput" />
        </div>

        <div class="column-selector">
            <button size="s" tuiButton type="button" class="tui-space_right-3" appearance="outline"
                (click)="selectColumnsDialog(columnTemplate, 's')">
                <tui-icon icon="@tui.align-justify" [style.height.rem]="1" />

                Columns visibility
            </button>

            <ng-template #columnTemplate>
                <div class="tui-container_fullwidth">
                    <div class="tui-row tui-form__row_multi-fields tui-row_adaptive">
                        <label class="tui-col_md-12">
                            @for (column of columns(); track column) {
                            <div>
                                <div class="filter-checkbox">
                                    <input tuiCheckbox size="s" type="checkbox" [(ngModel)]="column.visible"
                                        (ngModelChange)="onColumnVisibilityChange(column)" />
                                    {{ column.label }}
                                </div>
                            </div>
                            }
                        </label>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <!-- Table -->
    @if (isMobile) {
        @for (item of sortedData(); track item) {
            <div class="card">
                <ul>
                @for (column of visibleColumns(); track column) {
                <li>
                    @if (column.custom) {
                    <ng-container
                        *ngTemplateOutlet="itemRowTemplate; context: { item: item, column: column }"></ng-container>
                    } @else {
                    <span tuiTitle>{{ getDataProperty(item, column.key) }}</span>
                    }
                </li>

                }
                    <li class="action-icons">
                        <ng-container *ngTemplateOutlet="itemActionsTemplate; context: { item: item }"></ng-container>
                    </li>
                </ul>
            </div>
            }
    } @else {
    <table class="compact-table">
        <thead>
            <tr>
                @for (column of visibleColumns(); track column) {
                    @if (column.sortable) {
                        <th [class]="'size-' + column.size" (click)="sort(column.key)">
                            {{ column.label }}
                            <span [class.sorted]="currentSort() === column.key">
                                {{ getSortIcon(column.key) }}
                            </span>
                        </th>
                    } @else {
                        <th [class]="'size-' + column.size">
                            {{ column.label }}
                        </th>
                    }
                }
                <th class="action-icons-header"></th>
            </tr>
        </thead>
        <tbody>
            @for (item of sortedData(); track item) {
            <tr>
                @for (column of visibleColumns(); track column) {
                <td [class]="'size-' + column.size">
                    @if (column.custom) {
                    <ng-container
                        *ngTemplateOutlet="itemRowTemplate; context: { item: item, column: column }"></ng-container>
                    } @else {
                    <span tuiTitle>{{ getDataProperty(item, column.key) }}</span>
                    }
                </td>

                }
                <td class="action-icons">
                    <ng-container *ngTemplateOutlet="itemActionsTemplate; context: { item: item }"></ng-container>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="footer-actions">
        <tui-table-pagination [page]="page" [size]="size" [total]="total()" (paginationChange)="onPagination($event)" />
    </div>
    }
</div>