<div class="table-container">
  <!-- Column Selector Dropdown -->
  <div class="table-top-actions">
    <div class="add-action">
      <button
        class="add-action"
        [routerLink]="addActionRoute()"
        appearance="accent"
        size="m"
        tuiButton
        type="button"
        [iconStart]="addActionIcon()"
      >
        <ng-content select="[add-action-content]"></ng-content>
      </button>
    </div>

    <div class="filter-actions">
      <tui-textfield tuiTextfieldSize="m" iconStart="@tui.search">
        <input [(ngModel)]="filterInput" [placeholder]="'tosTable.filterPlaceholder' | translate" tuiTextfield (ngModelChange)="fetchData()" />
      </tui-textfield>
    </div>

    <div class="column-selector">
      <button
        size="m"
        tuiButton
        type="button"
        appearance="outline"
        (click)="selectColumnsDialog(columnTemplate, 'l')"
      >
        <tui-icon icon="@tui.align-justify" [style.height.rem]="1" />
        {{ 'tosTable.columnsVisibility' | translate }}
      </button>

      <ng-template #columnTemplate>
        <div class="tui-container_fullwidth">
          <div class="tui-row tui-form__row_multi-fields tui-row_adaptive">
            <label class="tui-col_md-12">
              @for (column of columns(); track column) {
                <div>
                  <div class="filter-checkbox">
                    <input
                      tuiCheckbox
                      size="s"
                      type="checkbox"
                      [(ngModel)]="column.visible"
                      (ngModelChange)="onColumnVisibilityChange(column)"
                    />
                    {{ column.label }}
                  </div>
                </div>
              }
            </label>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- Table -->
  @if (isMobile) {
    <div class="mobile-table">
      @for (item of tableData(); track item) {
        <div class="card">
          <div class="card-content">
            <ng-container
              *ngTemplateOutlet="cardTemplate; context: { item: item }"
            ></ng-container>
          </div>
          <div class="action-icons">
            <ng-container
              *ngTemplateOutlet="itemActionsTemplate; context: { item: item }"
            ></ng-container>
          </div>
        </div>
    }
    </div>
  } @else {
    <table class="compact-table">
      <thead>
        <tr>
          @for (column of visibleColumns(); track column) {
            @if (column.sortable) {
              <th [class]="'size-' + column.size" (click)="sort(column.key)">
                {{ column.label }}
                <span [class.sorted]="currentSort() === column.key">
                  {{ getSortIcon(column.key) }}
                </span>
              </th>
            } @else {
              <th [class]="'size-' + column.size">
                {{ column.label }}
              </th>
            }
          }
          <th class="action-icons-header"></th>
        </tr>
      </thead>
      <tbody>
        @for (item of tableData(); track item) {
          <tr>
            @for (column of visibleColumns(); track column) {
              <td [class]="'size-' + column.size">
                @if (column.custom) {
                  <ng-container
                    *ngTemplateOutlet="
                      itemRowTemplate;
                      context: { item: item, column: column }
                    "
                  ></ng-container>
                } @else {
                  <span tuiTitle>{{ getDataProperty(item, column.key) }}</span>
                }
              </td>
            }
            <td class="action-icons">
              <ng-container
                *ngTemplateOutlet="itemActionsTemplate; context: { item: item }"
              ></ng-container>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <div class="footer-actions">
      <tui-pagination
        [index]="currentPage"
        [length]="totalPages"
        (indexChange)="goToPage($event)"
      />
    </div>
  }
</div>
