<div class="layout-container">
  <!-- Filter Section -->
  <aside class="sidebar">
    <div class="top-actions-left">

      <fieldset tuiTextfieldSize="m" class="search">
        <tui-textfield iconStart="@tui.search">
          <input [(ngModel)]="searchText" placeholder="Search" tuiTextfield (input)="onTextFilterChange()" />
        </tui-textfield>
      </fieldset>
    </div>

    <tui-accordion class="filters-section">
      <tui-accordion-item [open]="!isMobile">
        <h2 i18n="@@categoryFilter">
          <tui-icon icon="@tui.sliders-horizontal" />
          Filter
        </h2>
        <ng-template tuiAccordionItemContent>

          <div class="filter-group filter-statuses">
            <h3>Status</h3>
            <ul>
              @for (status of statuses; track status) {
              <li class="filter-status" (click)="toggleStatusSelection(status.name)">
                <div class="filter-status-color" [class.active]="isStatusSelected(status.name)"
                  [style.background-color]="status.color">
                  <tui-icon icon="@tui.check" [style.color]="'white'" />
                </div>
                {{ status.name }}
              </li>
              }
            </ul>
          </div>
          <!-- Category Filter -->
          <div class="filter-group filter-categories">
            <h3 i18n="@@categoryFilter">Categories</h3>
            <ul>
              @for (category of categories; track category) {
              <li class="filter-category" (click)="toggleCategorySelection(category)">
                <div class="filter-category-color" [class.active]="isCategorySelected(category)"
                  [style.background-color]="category.color">
                  <tui-icon icon="@tui.check" [style.color]="'white'" />
                </div>
                {{ category.name }}
              </li>
              }
            </ul>
          </div>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </aside>

  <main class="grid-container">

    <div class="top-actions">

      <div class="top-actions-right">
        <tui-select tuiTextfieldSize="m" class="sorting-select" [formControl]="testValue"
          [tuiTextfieldLabelOutside]="true">
          Sort by
          <input placeholder="Sort by" tuiTextfieldLegacy />
          <tui-data-list-wrapper *tuiDataList [items]="sortingOptions" />
        </tui-select>
      </div>
    </div>

    <div class="items-container">
      @for (item of items; track item) {

      }
    </div>

    <tui-pagination
      [index]="currentPage"
      [length]="totalPages"
      (indexChange)="goToPage($event)"
    />
  </main>
</div>