<div class="settings-container">
  <div class="settings-header">

    <user-avatar [size]="'l'" [user]="userInfo.user"></user-avatar>

    <div class="user-info">
      <span class="name">{{ userInfo.firstName }} {{ userInfo.lastName }}</span>
      <span class="username">&#64;{{ userInfo.username }}</span>
    </div>

    <nav class="settings-menu-phone">
      <button
        appearance="primary"
        iconStart="@tui.menu"
        tuiDropdownOpen
        tuiIconButton
        type="button"
        [tuiDropdown]="menu"
      >
        More
        <ng-template #menu>
          <tui-data-list>
            <a
              tuiOption
              routerLink="/hub/settings/profile"
              routerLinkActive="active"
            >
              <tui-icon icon="@tui.user" [style.width.px]="16" />
              Profile
            </a>
          </tui-data-list>
        </ng-template>
      </button>
    </nav>
  </div>

  <div class="settings-body">
    <nav class="settings-menu">
      <ul>
        <li>
          <a routerLink="/hub/settings/profile" routerLinkActive="active">
            <tui-icon icon="@tui.user" [style.width.px]="16" />
            Profile
          </a>
        </li>
        <li>
          <a routerLink="/hub/settings/notifications" routerLinkActive="active">
            <tui-icon icon="@tui.bell" [style.width.px]="16" />
            Notifications
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main content area -->
    <div class="settings-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
