<!-- Add id for accessibility purposes -->
 <div class="borrow-dialog">
    <h2>
        {{ 'borrowDialog.heading.' + context.type | translate }}
    </h2>

<p>
    {{ context.description }}
</p>


@if (context.type !== CallToActionType.Cancel) {
<timeline class="timeline" [timelineItems]="timelineItems()" [itemSize]="220">
    <ng-template #itemTemplate let-item="item"
    >
      <div class="timeline-item">
        <tui-icon class="timeline-icon" [icon]="item.icon" />
        <span class="timeline-title">{{ item.title }}</span>
      </div>
    </ng-template>
</timeline>
}

@if (context.isItemAdmin) {
    <div class="select-user">

        <tui-combo-box
            *tuiLet="searchUsers$ | async as filtered"
            [formControl]="userSearchControl"
            [tuiTextfieldLabelOutside]="true"
            [valueContent]="value"
            [(search)]="search"
        >
        {{ 'borrowDialog.label.borrowBy' | translate }}
            <input
                placeholder="Type a name"
                tuiTextfieldLegacy
            />
            <ng-template
                #value
                let-user
            >
                <tui-avatar
                    size="xs"
                    class="avatar"
                    [src]="user | tuiInitials"
                    [style.background]="user | tuiAutoColor"                
                    >
                </tui-avatar>
                <span class="name">{{ user }}</span>
            </ng-template>
            <ng-template tuiDataList>
                <tui-data-list *ngIf="filtered; else loading">
                    <button
                        *ngFor="let user of filtered"
                        tuiOption
                        type="button"
                        [value]="user.username"
                    >
                        <tui-avatar
                            size="xs"
                            class="avatar"
                            [src]="user.username | tuiInitials"
                            [style.background]="user.username | tuiAutoColor"
                        >
                        </tui-avatar>
                        <span class="name">{{ user.username }}</span>
                    </button>
                </tui-data-list>
                <ng-template #loading>
                    <tui-loader class="tui-space_vertical-4" />
                </ng-template>
            </ng-template>
        </tui-combo-box>    
    </div>
}

@if (!context.alreadySelectedDate && context.type === CallToActionType.Reserve) {
    @if (context.borrowNow) {
        <tui-input-date-range
            [formControl]="dateControl"
            [items]="suggestedDates"
        >
            {{ 'borrowDialog.chooseDates' | translate }}
        </tui-input-date-range>
    } @else {
        <borrow-item-calendar [item]="context.item!" [currentUser]="context.currentUser!" (selectedDate)="selectedDate = $event" />

    }
}


<p class="buttons">
    <button
        size="m"
        appearance="flat"
        tuiButton
        type="button"
        class="tui-space_right-3"
        (click)="cancel()"
    >
        {{ context.cancelButtonLabel | translate }}
    </button>
    <button
        size="m"
        tuiButton
        (click)="confirm()
        "
    >
        {{ context.confirmButtonLabel | translate }}
    </button>
</p>
</div>