:host {
    display: block;
    padding: 1.5rem;
    margin: auto;
    border-radius: 0.75rem;
    background: var(--tui-background-base);
    animation:
        tuiReveal var(--tui-duration),
        tuiFadeIn var(--tui-duration);
    width: 600px;
    text-align: left;
}

.borrow-dialog {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 0;

    button {
        margin-left: 1rem;
    }
}

.timeline {
    width: 80%;
    display: block;
    padding-left: 40%;
}

.select-user {
    margin-bottom: 1rem;
}

.timeline-item {
    text-align: left;
}

.timeline-icon {
    margin-right: 5px;
}

.avatar {
    margin-right: 10px;
}