<!-- Add id for accessibility purposes -->
<h2>
    {{ 'borrowDialog.heading.' + context.type | translate }}
</h2>

<p>
    {{ context.description }}
</p>

@if (context.type !== CallToActionType.Cancel) {
<timeline [timelineItems]="timelineItems()" [itemSize]="220">
    <ng-template #itemTemplate let-item="item"
    >
      <div class="timeline-item">
        <tui-icon class="timeline-icon" [icon]="item.icon" />
        <span class="timeline-title">{{ item.title }}</span>
      </div>
    </ng-template>
</timeline>
}

@if (context.type === CallToActionType.Reserve && context.borrowNow) {
    <tui-input-date-range
        [formControl]="control"
        [items]="suggestedDates"
    >
        {{ 'borrowDialog.chooseDates' | translate }}
    </tui-input-date-range>
}

<p class="buttons">
    <button
        size="m"
        appearance="flat"
        tuiButton
        type="button"
        class="tui-space_right-3"
        (click)="cancel()"
    >
        {{ context.cancelButtonLabel | translate }}
    </button>
    <button
        size="m"
        tuiButton
        (click)="confirm()
        "
    >
        {{ context.confirmButtonLabel | translate }}
    </button>
</p>
