<div class="layout-container">
  <!-- Left Sidebar -->
  <aside class="sidebar">

    <!-- Text Filter Input -->
    <fieldset tuiTextfieldSize="s">
      <tui-textfield iconStart="@tui.search">
        <input
        [(ngModel)]="searchText"
            placeholder="Search"
            tuiTextfield
            (input)="onTextFilterChange()"
        />
        </tui-textfield>
    </fieldset>

    <!-- Category Filter -->
    <div class="filter-group">
      <span i18n="@@categoryFilter">Category</span>
      <label *ngFor="let category of categories">
        <input 
          type="checkbox" 
          [value]="category.value" 
          (change)="onCategoryChange($event)"
        >
        {{ category.label }}
      </label>
    </div>
  </aside>

  <!-- Main Content Area (Grid of Items) -->
  <main class="grid-container">
    <div 
      *ngFor="let item of filteredItems" 
      tuiAppearance="floating" 
      tuiCardLarge
    >
      <div tuiHeader>
        <h2 tuiTitle>
          {{ item.name }}
          <span tuiSubtitle>{{ item.description }}</span>
        </h2>
        <aside tuiAccessories>
          <tui-avatar appearance="primary" src="@tui.star"></tui-avatar>
        </aside>
      </div>

      <button routerLink="/item"
      i18n="@@borrowButton" appearance="secondary" size="m" tuiButton type="button">
        Borrow
      </button>
    </div>
  </main>
</div>