<div tuiAppearance="floating" class="borrow-record-card">
  <!-- Flexbox container for the image and details -->
  <div class="card-content" [class.card-content-with-image]="item()">
    <!-- Image Section -->
    @if (item()) {
      <div class="image-container" routerLink="/community/items/{{ item()!.id }}">
        <img [src]="item()!.imageUrl" [alt]="item()!.name" class="record-image" />
        <button appearance="outline" class="accent details-button" size="m"
          routerLink="/community/borrow-records/{{ item()!.id }}" tuiButton type="button">
          <span class="details-button-text">See details</span>
          <tui-icon icon="@tui.arrow-right" />
        </button>
      </div>
    }

    <!-- Borrow Record Details -->

    <div class="record-content-container">
      <div class="record-title-container">
        <div class="record-status record-status-{{ status() }}">
          <div class="record-status-text-container">
            <span class="record-status-text">{{ statusText() }}</span>
            @if (lateDuration() > 0) {
            <span class="record-status-late">{{ lateDuration() }} day(s)</span>
            }
          </div>
          <tui-icon size="l" [icon]="statusIcon()" />
        </div>
        @if (user()) {
        <div class="record-title">
          <h2>
            <tui-avatar [src]="user()!.username | tuiInitials" [style.background]="user()!.username | tuiAutoColor"
              size="s"></tui-avatar>
            {{ user()!.username }}
          </h2>
        </div>
        }
        @if (item()) {
          <div class="record-title">
          <h2 tuiTitle>
            {{ item()!.name }}
          </h2>
        </div>
        }

        <div class="record-subtitle">
          <span class="borrow-duration">
            <tui-icon icon="@tui.clock" />
            <span class="borrow-duration-value">{{ borrowDuration() }}</span> day(s)
          </span>

          @if (item()) {
          <div class="record-categories">
            <tui-icon [icon]="item()!.category.icon" />
            <span class="category-name">{{ item()!.category.name }}</span>
          </div>
          }
          @if (library()) {
          <span class="library">
            <tui-icon icon="@tui.library" />
            <span class="library-value">{{ library()?.name }}</span>
          </span>
          }

        </div>
      </div>
      <div class="timeline-container">
        <borrow-record-timeline [borrowRecord]="borrowRecord()"></borrow-record-timeline>
      </div>
    </div>
  </div>
</div>