<div tuiAppearance="floating" class="borrow-record-card">
  <!-- Flexbox container for the image and details -->
  <div class="card-content" [class.card-content-with-image]="item()">
    <!-- Image Section -->
    @if (item()) {
      <div class="image-container">
        <img [src]="item()!.imageUrl" [alt]="item()!.name" class="record-image" />
        
        <div class="action-container">
          @if (status() === UIBorrowDetailedStatus.Reserved_ReadyToPickup) {
            <button class="pick-up-button" appearance="primary" size="m" tuiButton type="button" (click)="pickUpItem()">
              {{ 'borrowRecordCard.pickUp' | translate }}
            </button>
          } @else if (status() === UIBorrowDetailedStatus.Borrowed_Active 
          || status() === UIBorrowDetailedStatus.Borrowed_DueToday
          || status() === UIBorrowDetailedStatus.Borrowed_Late
          ) {
            <button class="return-button" appearance="primary" size="m" tuiButton type="button" (click)="returnItem()">
              {{ 'borrowRecordCard.return' | translate }}
            </button> 
          } @else if (status() === UIBorrowDetailedStatus.Reserved_Confirmed) {
            <button class="cancel-reservation-button" appearance="primary" size="m" tuiButton type="button" (click)="cancelReservation()">
              {{ 'borrowRecordCard.cancelReservation' | translate }}
            </button> 
          } @else {
            <button appearance="primary" [style.visibility]="'hidden'" size="m" tuiButton type="button">
            </button>
          }
            <button appearance="outline" class="primary details-button" size="m"
            routerLink="/community/items/{{ item()!.id }}" tuiButton type="button">
              <span class="details-button-text">{{ 'borrowRecordCard.seeDetails' | translate }}</span>
            <tui-icon icon="@tui.arrow-right" />
          </button>
        </div>
      </div>
    }

    <!-- Borrow Record Details -->

    <div class="record-content-container">
      <div class="record-header-container">
        <div class="record-title-container">
          

          @if (user() && item()) {
            <div class="record-title">
              <h2 tuiTitle>
                {{ item()!.name }}
              </h2>
              <h3>
                <user-avatar [user]="user()!"></user-avatar>
                {{ user()!.username }}
              </h3>
            </div>
          } 
          @else if (user()) {
          <div class="record-title">
            <h2>
              <user-avatar [user]="user()!"></user-avatar>
              {{ user()!.username }}
            </h2>
          </div>
          }
          @else if (item()) {
            <div class="record-title">
            <h2 tuiTitle>
              {{ item()!.name }}
            </h2>
          </div>
          }
          @else {
            <div class="record-title">
              <h2 tuiTitle>
                {{ 'borrowRecordCard.borrowTitle' | translate: { startDate: borrowRecord()!.startDate | date: 'dd MMM' } }}
              </h2>
            </div>
          }
          <div class="record-status record-status-{{ status() }}">
            <tui-icon size="l" [icon]="statusIcon()" />
            <div class="record-status-text-container">
              <span class="record-status-text">{{ statusText() }}</span>
              @if (lateDuration() > 0) {
              <span class="record-status-late">{{ lateDuration() }} {{ 'borrowRecordCard.days' | translate }}</span>
              }
            </div>
          </div>
        </div>
        <div class="record-subtitle">
          <span class="borrow-duration">
            <tui-icon icon="@tui.clock" />
            <span class="borrow-duration-value">{{ borrowDuration() }}</span> {{ 'borrowRecordCard.days' | translate }}
          </span>

          @if (item()) {
          <div class="record-categories">
            <tui-icon [icon]="item()!.category.icon" />
            <span class="category-name">{{ item()!.category.name }}</span>
          </div>
          }
          @if (library()) {
          <span class="library">
            <tui-icon icon="@tui.library" />
            <span class="library-value">{{ library()?.name }}</span>
          </span>
          }

        </div>
      </div>
      <div class="timeline-container">
        <borrow-record-timeline [borrowRecord]="borrowRecord()"></borrow-record-timeline>
      </div>
    </div>
  </div>
</div>