<div class="dashboard-borrow-container">
  <div class="dashboard-borrow-over-time">
    <div class="chart-title">{{ 'borrowsStat.totalBorrowsOverTime' | translate }}</div>
    <tui-axes class="axes" [axisXLabels]="labelsX" [axisYLabels]="axisYLabels">
      <tui-bar-chart [max]="10000" [value]="value" />
    </tui-axes>

    <ng-template #hintContent let-index="index" let-value>
      <div>{{ 'borrowsStat.vertical' | translate }}: {{ value[0] }}</div>
      <div>{{ 'borrowsStat.horizontal' | translate }}: {{ value[1] }}</div>
      <div>{{ 'borrowsStat.index' | translate }}: {{ index }}</div>
    </ng-template>
  </div>

  <div>
    <div class="chart-title">{{ 'borrowsStat.overview' | translate }}</div>

    <div class="metric-cards">
      <div class="metric-card">
        <div class="counter">{{ totalBorrows }}</div>
        <div class="label">{{ 'borrowsStat.totalBorrows' | translate }}</div>
      </div>
      <div class="metric-card">
        <div class="counter">{{ totalReservations }}</div>
        <div class="label">{{ 'borrowsStat.totalReservations' | translate }}</div>
      </div>
      <div class="metric-card">
        <div class="counter">{{ itemsOnLoan }}</div>
        <div class="label">{{ 'borrowsStat.itemsOnLoan' | translate }}</div>
      </div>
      <div class="metric-card">
        <div class="counter">{{ avgLoanDuration }}</div>
        <div class="label">{{ 'borrowsStat.avgLoanDuration' | translate }}</div>
      </div>
      <div class="metric-card">
        <div class="counter">{{ returnTimeliness }}</div>
        <div class="label">{{ 'borrowsStat.returnTimeliness' | translate }}</div>
      </div>
    </div>
  </div>
</div>