<div class="user-details">
    <div class="user-info">
        <ul>
            <li class="username">
                <h2>
                    <tui-avatar [src]="user.username | tuiInitials" [style.background]="user.username | tuiAutoColor"
                        size="s"></tui-avatar>
                    {{ user.username }}
                </h2>
            </li>
            <li class="email">
                <tui-icon icon="@tui.mail" size="m"/>
                {{ user.email }}
            </li>
            <li class="address">
                <tui-icon icon="@tui.home" size="m"/>
                {{ user.flatNumber }} - {{ user.address }}
            </li>
        </ul>
    </div>

    <div>
    </div>

</div>

<div class="user-stats">
    <card-counter [icon]="'/borrow.png'" [label]="'userActivity.totalBorrowedItems' | translate" [counter]="user.borrowedItems"></card-counter>

    <card-counter [icon]="'@tui.check'" [label]="'userActivity.successRate' | translate" [counter]="user.successRate"></card-counter>

    <card-counter [icon]="'@tui.clock'" [label]="'userActivity.lateReturns' | translate" [counter]="user.returnedLate"></card-counter>

</div>

<div class="user-borrows-records">
    <h2>{{ 'userActivity.borrowRecords' | translate }}</h2>
    <filtered-and-paginated-borrow-records
    [getItemsParams]="getItemsParams"
    [enableStatusFiltering]="true"
>
</filtered-and-paginated-borrow-records>

</div>