openapi: 3.0.1
info:
  title: The OpenShelf API
  version: "2.0"
  description: |
    # Summary
    The OpenShelf  API

servers:
  - url: https://TheOpenShelf.dev
    description: The OpenShelf API

paths:
  /public/auth/login:
    post:
      operationId: login
      summary: Log user with username / password
      tags:
        - auth-api

      security:
        - BearerAuthOAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "my-login"
                password:
                  type: string
                  example: "my-password"
              required:
                - username
                - password

      responses:
        "200":
          $ref: "#/components/responses/OK_200_LOGIN"

  /public/auth/signup:
    post:
      operationId: signUp
      summary: Register a new user
      tags:
        - auth-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: "newuser@example.com"
                username:
                  type: string
                  example: "newuser"
                password:
                  type: string
                  example: "securepassword"
                streetAddress:
                  type: string
                  example: "123 Main St"
                city:
                  type: string
                  example: "Anytown"
                postalCode:
                  type: string
                  example: "12345"
                country:
                  type: string
                  example: "Countryland"
              required:
                - email
                - username
                - password
      responses:
        "201":
          description: User registered successfully
        "400":
          description: Invalid input

  /public/auth/signout:
    post:
      operationId: signOut
      summary: Sign out the current user
      tags:
        - auth-api
      responses:
        "204":
          description: User signed out successfully

  /public/auth/reset-password:
    post:
      operationId: resetPassword
      summary: Reset password for a user
      tags:
        - auth-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: "user@example.com"
              required:
                - email
      responses:
        "200":
          description: Password reset email sent
        "404":
          description: User not found

  /public/auth/reset-password/confirm:
    post:
      operationId: confirmResetPassword
      summary: Confirm password reset with token
      tags:
        - auth-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: "reset-token-123"
                newPassword:
                  type: string
                  example: "newSecurePassword"
              required:
                - token
                - newPassword
      responses:
        "200":
          description: Password reset successfully
        "400":
          description: Invalid token or password
        "404":
          description: User not found

  /community/hello-world:
    get:
      operationId: getHelloWorld
      summary: hello world
      tags:
        - hello-world-api

      security:
        - BearerAuthOAuth: []

      responses:
        "200":
          $ref: "#/components/responses/OK_200_GET_HELLO_WORLD"

  /community/items:
    get:
      operationId: getItems
      summary: Retrieve all items (filter by current user items)
      tags:
        - items-community-api
      parameters:
        - name: currentUser
          in: query
          description: Filter items by current user
          required: false
          schema:
            type: boolean
        - name: borrowedByCurrentUser
          in: query
          description: Filter items borrowed by current user
          required: false
          schema:
            type: boolean
        - name: libraryId
          in: query
          description: Filter items by library ID
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A list of items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item"
    post:
      operationId: addItem
      summary: Add a new item
      tags:
        - items-community-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Item"
      responses:
        "201":
          description: Item created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"

  /community/items/{item-id}:
    parameters:
      - $ref: "#/components/parameters/itemId"
    get:
      operationId: getItem
      summary: Retrieve a specific item by ID
      tags:
        - items-community-api
      responses:
        "200":
          description: A single item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"

  /community/items/{item-id}/borrow-records:
    parameters:
      - $ref: "#/components/parameters/itemId"
      - name: owner
        in: query
        description: Filter by owner
        required: false
        schema:
          type: string
      - name: borrower
        in: query
        description: Filter by borrower
        required: false
        schema:
          type: string
    get:
      operationId: getItemBorrowRecords
      summary: Retrieve borrow records for a specific item
      tags:
        - items-community-api
      responses:
        "200":
          description: Borrow records for the item
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BorrowRecord"
    delete:
      operationId: deleteBorrowRecord
      summary: Delete a borrow record for a specific item
      tags:
        - items-community-api
      parameters:
        - name: recordId
          in: query
          description: ID of the borrow record to delete
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Borrow record deleted successfully

  /community/items/{item-id}/actions/borrow:
    parameters:
      - $ref: "#/components/parameters/itemId"
    post:
      operationId: borrowItem
      summary: Borrow an item
      tags:
        - items-community-api
      requestBody:
        description: Borrow item details
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startDate:
                  type: string
                  format: date
                endDate:
                  type: string
                  format: date
      responses:
        "201":
          description: Item borrowed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BorrowItem"

  /community/items/{item-id}/actions/favorite:
    parameters:
      - $ref: "#/components/parameters/itemId"
    post:
      operationId: markAsFavorite
      summary: Toggle favorite status of an item
      tags:
        - items-community-api
      responses:
        "200":
          description: Item favorite status toggled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"

  /community/notifications:
    get:
      operationId: getNotifications
      summary: Retrieve all notifications
      tags:
        - notifications-community-api
      responses:
        "200":
          description: A list of notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Notification"

  /community/notifications/unread-count:
    get:
      operationId: getUnreadNotificationsCount
      summary: Retrieve the count of unread notifications
      tags:
        - notifications-community-api
      responses:
        "200":
          description: Count of unread notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 5

  /community/notifications/acknowledge:
    post:
      operationId: acknowledgeNotifications
      summary: Acknowledge notifications as read
      tags:
        - notifications-community-api
      requestBody:
        description: List of notifications to acknowledge
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Notification"
      responses:
        "204":
          description: Notifications acknowledged successfully

  /community/categories:
    get:
      operationId: getCategories
      summary: Retrieve all categories
      tags:
        - categories-community-api
      responses:
        "200":
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Category"

  /community/profile:
    put:
      operationId: updateProfile
      summary: Update the current user's profile
      tags:
        - profile-community-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: "updateduser@example.com"
                username:
                  type: string
                  example: "updateduser"
                streetAddress:
                  type: string
                  example: "456 New St"
                city:
                  type: string
                  example: "Newtown"
                postalCode:
                  type: string
                  example: "67890"
                country:
                  type: string
                  example: "Newland"
              required:
                - email
                - username
      responses:
        "200":
          description: User profile updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Invalid input
        "404":
          description: User not found

  /admin/items/{item-id}:
    parameters:
      - $ref: "#/components/parameters/itemId"
    get:
      operationId: getAdminItemById
      summary: Retrieve a specific item by ID
      tags:
        - items-admin-api
      responses:
        "200":
          description: A single item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"

  /admin/items/categories:
    get:
      operationId: getAdminItemCategories
      summary: Retrieve all categories
      tags:
        - categories-admin-api
      responses:
        "200":
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Category"

  /admin/items:
    get:
      operationId: getAdminItems
      summary: Retrieve all items
      tags:
        - items-admin-api
      responses:
        "200":
          description: A list of items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item"

    post:
      operationId: addAdminItem
      summary: Add a new item
      tags:
        - items-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Item"
      responses:
        "201":
          description: Item created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"

  /admin/users:
    get:
      operationId: getUsers
      summary: Retrieve all users
      tags:
        - users-admin-api
      responses:
        "200":
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserWithStats"
    post:
      operationId: saveUser
      summary: Save a user
      tags:
        - users-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserWithStats"
      responses:
        "201":
          description: User saved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserWithStats"

  /admin/users/{user-id}:
    parameters:
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getUser
      summary: Retrieve a specific user by ID
      tags:
        - users-admin-api
      responses:
        "200":
          description: A single user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserWithStats"

  /admin/users/{user-id}/password:
    parameters:
      - name: user-id
        in: path
        description: User ID
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: setUserPassword
      summary: Set a user's password
      tags:
        - users-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                newPassword:
                  type: string
                  example: "newSecurePassword"
              required:
                - newPassword
      responses:
        "204":
          description: Password updated successfully

  /admin/categories:
    get:
      operationId: getAdminCategories
      summary: Retrieve all categories for admin
      tags:
        - categories-admin-api
      responses:
        "200":
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Category"
    post:
      operationId: addAdminCategory
      summary: Add a new category for admin
      tags:
        - categories-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Category"
      responses:
        "201":
          description: Category created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"

  /admin/categories/{category-id}:
    parameters:
      - name: category-id
        in: path
        description: Category ID
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getAdminCategory
      summary: Retrieve a specific category by ID for admin
      tags:
        - categories-admin-api
      responses:
        "200":
          description: A single category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"

  /admin/settings/security:
    get:
      operationId: getSecuritySettings
      summary: Retrieve security settings
      tags:
        - settings-admin-api
      responses:
        "200":
          description: Security settings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  isRegistrationEnabled:
                    type: boolean
                    example: true

    post:
      operationId: saveSecuritySettings
      summary: Save security settings
      tags:
        - settings-admin-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isRegistrationEnabled:
                  type: boolean
                  example: false
      responses:
        "200":
          description: Security settings saved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  isRegistrationEnabled:
                    type: boolean
                    example: false

  /public/settings:
    get:
      operationId: getPublicSettings
      summary: Retrieve public UI settings
      tags:
        - settings-public-api
      responses:
        "200":
          description: Public UI settings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  isRegistrationEnabled:
                    type: boolean
                    example: true

  /admin/dashboards/data:
    get:
      operationId: getDashboardData
      summary: Retrieve dashboard data over time
      tags:
        - dashboards-admin-api
      responses:
        "200":
          description: Dashboard data retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardBorrowesOverTimeData"

  /admin/dashboards/metrics:
    get:
      operationId: getDashboardMetrics
      summary: Retrieve dashboard metrics
      tags:
        - dashboards-admin-api
      responses:
        "200":
          description: Dashboard metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardBorrowesMetrics"

  /admin/dashboards/top-borrowers:
    get:
      operationId: getTopBorrowers
      summary: Retrieve top borrowers
      tags:
        - dashboards-admin-api
      responses:
        "200":
          description: Top borrowers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BorrowerMetrics"

  /admin/dashboards/top-items:
    get:
      operationId: getTopItems
      summary: Retrieve top items
      tags:
        - dashboards-admin-api
      responses:
        "200":
          description: Top items retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ItemMetrics"

  /admin/dashboards/top-categories:
    get:
      operationId: getTopCategories
      summary: Retrieve top categories
      tags:
        - dashboards-admin-api
      responses:
        "200":
          description: Top categories retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CategoryMetrics"

  /admin/dashboards/user-count:
    get:
      operationId: getUserCount
      summary: Retrieve user count
      tags:
        - dashboards-admin-api
      responses:
        "200":
          description: User count retrieved successfully
          content:
            application/json:
              schema:
                type: integer
                example: 100

  /admin/dashboards/item-count:
    get:
      operationId: getItemCount
      summary: Retrieve item count
      tags:
        - dashboards-admin-api
      responses:
        "200":
          description: Item count retrieved successfully
          content:
            application/json:
              schema:
                type: integer
                example: 200

  /admin/dashboards/library-count:
    get:
      operationId: getLibraryCount
      summary: Retrieve library count
      tags:
        - dashboards-admin-api
      responses:
        "200":
          description: Library count retrieved successfully
          content:
            application/json:
              schema:
                type: integer
                example: 10

components:
  #####################################################
  # Predefined Components
  #####################################################

  securitySchemes:
    BearerAuthOAuth:
      description: Bearer Token.
      type: http
      scheme: bearer

  parameters:
    itemId:
      name: item-id
      in: path
      description: Item ID
      required: true
      schema:
        type: string
        format: uuid
    userId:
      name: user-id
      in: path
      description: User ID
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    User:
      type: object
      required:
        - id
        - login
        - username
        - firstName
        - lastName
        - roles
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        flat:
          type: string
          example: A701
        roles:
          type: array
          items:
            type: string
            example: "admin"

    Item:
      type: object
      required:
        - id
        - name
        - located
        - owner
        - imageUrl
        - description
        - shortDescription
        - category
        - favorite
        - borrowCount
      properties:
        id:
          type: string
          format: uuid
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        name:
          type: string
          example: "Harry Potter Book"
        located:
          type: string
          example: "ShareSpace"
        owner:
          type: string
          example: "TheOpenShelf"
        imageUrl:
          type: string
          example: "/items/harry-potter.png"
        description:
          type: string
          example: "A magical adventure story that follows the journey of a young wizard and his friends."
        shortDescription:
          type: string
          example: "A magical adventure story."
        category:
          $ref: "#/components/schemas/Category"
        favorite:
          type: boolean
          example: true
        borrowCount:
          type: integer
          example: 8

    BorrowRecord:
      type: object
      required:
        - borrowedBy
        - startDate
        - endDate
      properties:
        borrowedBy:
          type: string
          example: "someone_else@example.com"
        startDate:
          type: string
          format: date
          example: "2023-11-15"
        endDate:
          type: string
          format: date
          example: "2023-11-22"
    Category:
      type: object
      required:
        - id
        - name
        - color
        - template
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        color:
          type: string
        template:
          type: string
    BorrowItem:
      allOf:
        - $ref: "#/components/schemas/Item"
        - type: object
          required:
            - record
          properties:
            record:
              $ref: "#/components/schemas/BorrowRecord"
              example:
                borrowedBy: "me@example.com"
                startDate: "2023-11-01"
                endDate: "2023-11-10"

    ItemWithRecords:
      allOf:
        - $ref: "#/components/schemas/Item"
        - type: object
          properties:
            borrowRecords:
              type: array
              items:
                $ref: "#/components/schemas/BorrowRecord"
            isBookedToday:
              type: boolean
            myBooking:
              $ref: "#/components/schemas/BorrowRecord"

    RequestBorrowItem:
      type: object
      required:
        - name
      properties:
        borrowDate:
          type: string
          format: date-time
        returnDate:
          type: string
          format: date-time
        borrower:
          type: string
          format: uuid

    RequestReturnItem:
      type: object
      required:
        - name
      properties:
        date:
          type: string
          format: date-time
        borrower:
          type: string
          format: uuid

    ResponseGetItems:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Item"

    Notification:
      type: object
      required:
        - id
        - author
        - date
        - type
        - alreadyRead
      properties:
        id:
          type: integer
          example: 1
        author:
          type: string
          example: "system"
        date:
          type: string
          format: date-time
          example: "2023-11-15T13:45:30"
        type:
          type: string
          enum:
            - ITEM_AVAILABLE
            - ITEM_DUE
            - ITEM_BORROW_RESERVATION_DATE_START
            - ITEM_RESERVED_NO_LONGER_AVAILABLE
        alreadyRead:
          type: boolean
          example: false
        payload:
          type: object
          additionalProperties: true

    ItemStat:
      type: object
      required:
        - id
        - name
        - located
        - owner
        - imageUrl
        - description
        - shortDescription
        - category
        - favorite
        - borrowCount
        - lateReturnPercentage
        - averageDuration
        - state
      properties:
        id:
          type: string
        name:
          type: string
        located:
          type: string
        owner:
          type: string
        imageUrl:
          type: string
        description:
          type: string
        shortDescription:
          type: string
        category:
          $ref: "#/components/schemas/Category"
        favorite:
          type: boolean
        borrowCount:
          type: integer
        lateReturnPercentage:
          type: number
        averageDuration:
          type: number
        state:
          type: object
          properties:
            label:
              type: string
            statusColor:
              type: string

    UserWithStats:
      type: object
      required:
        - id
        - username
        - email
        - flatNumber
        - address
        - borrowedItems
        - returnedLate
        - successRate
        - disabled
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
        flatNumber:
          type: string
        address:
          type: string
        borrowedItems:
          type: integer
        returnedLate:
          type: integer
        successRate:
          type: number
        disabled:
          type: boolean

    Location:
      type: object
      required:
        - id
        - name
        - address
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          example: "Main Library"
        instructions:
          type: string
          example: "Use side entrance, code is 1234"
        address:
          type: string
          example: "123 Main Street, City, Country"

    DashboardBorrowesOverTimeData:
      type: object
      required:
        - labelsX
        - axisYLabels
        - data
      properties:
        labelsX:
          type: array
          items:
            type: string
        axisYLabels:
          type: array
          items:
            type: string
        data:
          type: array
          items:
            $ref: "#/components/schemas/ChartCoordinates"

    DashboardBorrowesMetrics:
      type: object
      required:
        - metrics
      properties:
        metrics:
          type: object
          properties:
            totalBorrows:
              type: integer
            totalReservations:
              type: integer
            itemsOnLoan:
              type: integer
            avgLoanDuration:
              type: number
            returnTimeliness:
              type: number

    BorrowerMetrics:
      type: object
      required:
        - username
        - totalBorrows
      properties:
        username:
          type: string
        totalBorrows:
          type: integer

    ChartCoordinates:
      type: object
      required:
        - x
        - y
      properties:
        x:
          type: number
        y:
          type: number

    ItemMetrics:
      type: object
      required:
        - item
        - totalBorrows
      properties:
        item:
          type: string
        totalBorrows:
          type: integer

    CategoryMetrics:
      type: object
      required:
        - category
        - totalBorrows
        - numberOfItems
      properties:
        category:
          type: string
        totalBorrows:
          type: integer
        borrowedItems:
          type: integer

  responses:
    OK_200_GET_HELLO_WORLD:
      description: OK
      content:
        application/json:
          schema:
            title: responseHelloWorld
            type: object
            required:
              - message
            properties:
              message:
                type: string
                example: "Hello world!"
              items:
                type: array
                items:
                  $ref: "#/components/schemas/Item"
                example:
                  - id: "123e4567-e89b-12d3-a456-426614174000"
                    name: "Harry Potter Book"
                    located: "ShareSpace"
                    owner: "TheOpenShelf"
                    imageUrl: "/items/harry-potter.png"
                    description: "A magical adventure story that follows the journey of a young wizard and his friends."
                    shortDescription: "A magical adventure story."
                    category:
                      id: "books"
                      name: "Books"
                      color: "blue"
                      template: "book-template"
                    favorite: true
                    borrowCount: 8
    OK_200_LOGIN:
      description: Logged in user details
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/User"
            example:
              id: "123e4567-e89b-12d3-a456-426614174000"
              username: "my-login"
              firstName: "John"
              lastName: "Doe"
              email: "john.doe@example.com"
              flat: "A701"
