<tui-root>
    <!-- Position drawer inside the example block -->
    <div class="custom-portal"><ng-container #viewContainer /></div>

    <!-- Header -->
    <header tuiNavigationHeader>
        <span tuiNavigationLogo>
            <img id="logo" src="/logo-simple.png" />
            <span tuiFade>The Open Shelf</span>
        </span>
        <hr />

        <app-notifications-popup></app-notifications-popup>

        <button iconStart="@tui.ellipsis" tuiIconButton type="button" tuiChevron tuiDropdownOpen
            [tuiDropdown]="settings">
            <ng-template #settings>
                <tui-data-list size="s">
                    <button routerLink="/community/settings" class="dropdown" iconStart="@tui.settings" tuiButton
                        type="button">
                        Settings
                    </button>
                </tui-data-list>
                <tui-data-list size="s">
                    <button routerLink="/admin" class="dropdown" iconStart="@tui.lock" tuiButton type="button">
                        Admin panel
                    </button>

                </tui-data-list>
                <tui-data-list size="s">
                    <button routerLink="/auth/sign-out" class="dropdown" iconStart="@tui.log-out" tuiButton
                        type="button">
                        Log out
                    </button>

                </tui-data-list>
            </ng-template>
        </button>
    </header>

    <!-- Horizontal Menu -->
    <nav id="menu" class="horizontal-menu">
        <!-- Buttons -->
        <a routerLink="/community/items" routerLinkActive="active" appearance="secondary-grayscale"
            iconStart="@tui.package" type="button" i18n="@@borrowItemButton">
            <tui-icon icon="@tui.package" />
            Items
        </a>

        <a routerLink="/community/borrowed-items" routerLinkActive="active" iconStart="@tui.shopping-basket"
            appearance="secondary-grayscale" tuiChevron type="button">
            <tui-icon icon="@tui.shopping-basket" />

            <span>Borrowed items</span>

        </a>

        <a routerLink="/community/libraries" routerLinkActive="active" iconStart="@tui.shopping-basket"
            appearance="secondary-grayscale" tuiChevron type="button">
            <tui-icon icon="@tui.library" />

            <span>Libraries</span>

        </a>

    </nav>

    <!-- Main Content -->
    <div [style.display]="'flex'">
        <main tuiNavigationMain>
            <router-outlet></router-outlet>
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-branding">
                <img alt="The Open Shelf" src="/logo-bright.png" />
            </div>
            <div class="footer-links">
                <h3 class="footer-help-title">Useful links</h3>
                <ul>
                    <li><a>My neighborhood</a></li>
                    <li><a>How borrowing works</a></li>
                    <li><a>Share/give an object</a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3 class="footer-help-title">Need help?</h3>
                <ul>
                    <li><a>Help center</a></li>
                    <li><a>Contact us</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Feedback</a></li>
                </ul>
            </div>
            
        </div>

        <div class="footer-copyright">
            <div class="footer-copyright-left">
                <span class="copyright"><tui-icon icon="@tui.copyright" /> 2025 TheOpenShelf</span>
                <a>Privacy policy</a>
                <a>Terms of Borrowing</a>
            </div>
            <div class="footer-copyright-right">
                <a class="github-link" href="https://github.com/theopenshelf" target="_blank">
                    <tui-icon icon="@tui.github" />
                </a>
                <span class="powered-by">Powered by <tui-icon icon="@tui.heart" /> TheOpenShelf</span>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button -->
    <button id="scrollToTop" class="scroll-to-top" (click)="scrollToTop()">
        <tui-icon icon="@tui.arrow-up"></tui-icon>
    </button>
</tui-root>