@use 'theme' as *;

.dashboard-models-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; // Adjust the gap between cards as needed
    margin-bottom: 15px;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    width: 100%;
    height: 200px;

    .counter {
        color: $accent-color;
        font-size: 48px;
        font-weight: bold;
        margin: 10px;
        text-align: center;
    }

    .label {
        font-size: 24px;
        color: $accent-color;
        text-align: center;
    }
}

.axes {
    block-size: 50%;
    inline-size: 100%;
    color: #bc71c9;
}

.chart-title {
    font-size: 24px;
    color: $accent-color;
    margin-top: 15px;
    margin-bottom: 25px;
}

.dashboard-borrow-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; // Adjust the gap between cards as needed
    margin-bottom: 15px;

    justify-content: center;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;

    .metric-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px; // Adjust the gap between cards as needed
        margin-bottom: 15px;


        .metric-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #001d45;
            border-radius: 16px;
            overflow: hidden;
            text-align: left;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            border: 0px solid rgb(226, 232, 240);
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
            width: 100%;
            height: 200px;

            .counter {
                color: $accent-color;
                font-size: 48px;
                font-weight: bold;
                margin: 20px;
                text-align: center;
                line-height: 0.75em;
            }

            .label {
                font-size: 24px;
                color: $accent-color;
                text-align: center;
            }
        }
    }

}

.dashboard-top-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; // Adjust the gap between cards as needed
    margin-bottom: 15px;

    .dashboard-top-users,
    .dashboard-top-items,
    .dashboard-top-categories {
        justify-content: center;
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
        padding: 16px;
        text-align: left;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        border: 0px solid rgb(226, 232, 240);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;

        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                border-bottom: 1px solid #e2e8f0;

                td {
                    padding: 10px 0;
                }

                td:nth-child(1) {
                    width: 70%;
                }
            }
        }
    }
}