<svg
    viewBox="0 0 960 540"
    width="100%"
    height="100%"
    preserveAspectRatio="xMidYMax slice"
    xmlns="http://www.w3.org/2000/svg"
    class="background-motif"
>
    <g
        fill="none"
        stroke="currentColor"
        stroke-width="100"
        class="text-gray-700 opacity-25"
    >
        <circle
            r="234"
            cx="196"
            cy="23"
        ></circle>
        <circle
            r="234"
            cx="790"
            cy="491"
        ></circle>
    </g>
</svg>
<div id="login-welcome-content">
    <img
        id="logo"
        src="/logo-dark.png"
    >
    <div id="presentation">
        <p>
            {{ 'welcome.borrowAnything' | translate }}
        </p>
        <p>
            {{ 'welcome.libraryOfThings' | translate }}
        </p>
    </div>
</div>
