@use 'theme' as *;

/* General Table Styling */
.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Avatar and Username Styling */
.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.username {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
