@use 'styles' as *;

/* General Table Styling */
.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Avatar and Username Styling */
.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.username {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.user-content {
  width: 100%;

  h2 {
    margin: 0;
    margin-bottom: 10px;
  }


  .user-details {
    height: 85%;
    padding: 10px;

    .user-info {
      margin-bottom: 10px;
    }

    .user-details-top-right {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      justify-content: center;
    }
  }


  .stats {
    height: 15%;
    border-top: 1px solid #e7e7e7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 10px;
    justify-content: left;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}

.user-actions {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  justify-content: left;
  align-items: left;
  text-align: left !important;
  padding-bottom: 10px;
}

.password-form {
  margin-top: 30px;
  box-shadow: none !important;
  padding: 0 !important;
  margin-bottom: 0px;
}

.password-form-button {
  width: 100%;
}