@use 'theme' as *;

.notifications-popup {
  width: 400px;
  max-height: 400px;
  border: 1px solid $light-color;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-color;
  background-color: $primary-color;
  position: sticky;
  top: 0;
  /* Keeps the header static at the top */
  z-index: 10;
}

.notifications-list {
  flex: 1;
  overflow-y: auto;
  color: $primary-color;
}

.notification-item:hover {
  background-color: $light-color;
  /* Change background color on hover */
}

.notification-item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  /* No exact match in the theme */
  gap: 10px;
  /* Space between elements */
}

.notification-item img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.notification-item.unread {
  background: $light-color;
}

.notification-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notification-date {
  font-size: 12px;
  color: $dark-color;
  text-align: right;
  /* Align the date to the left */
}

.notification-text {
  font-size: 14px;
  font-weight: bold;
}