<filtered-and-paginated
    [enableSearchBar]="enableSearchBar()"
    [getItemsParams]="getItemsParams()"
    [enableStatusFiltering]="enableStatusFiltering()"
    [enableCategoriesFiltering]="enableCategoriesFiltering()"
    [categoriesFilteringOpened]="categoriesFilteringOpened()"
    [sortingOptions]="sortingOptions()"
    [getItems]="fetchItems"
>
    <ng-template
        #itemTemplate
        let-item="item"
    >
        <item-card
            [borrowNowCallback]="borrowNow"
            [reserveItemCallback]="reserveItem"
            [item]="item"
            [borrowRecords]="getBorrowRecords(item)"
            [library]="getLibrary(item.libraryId)"
            [community]="getCommunity(item.libraryId)"
        >
        </item-card>
    </ng-template>

    <ng-template #sidebarTemplate>
        <ng-container *ngTemplateOutlet="libraryTemplate"></ng-container>

    </ng-template>
</filtered-and-paginated>
