<div id="login-container">
    <div id="login-form-section">
        <h2>Sign In</h2>
        <p *ngIf="config.isRegistrationEnabled">
            Don't have an account?
            <a routerLink="/sign-up">Sign Up</a>
        </p>

        <form
            [formGroup]="signInForm"
            (ngSubmit)="onSubmit()"
        >
            <label>Username</label>
            <input
                formControlName="username"
                type="text"
            >
            <label>Password</label>
            <input
                formControlName="password"
                type="password"
            >
            <button type="submit">Sign In</button>
        </form>
        <p>
            <a routerLink="/forgot-password">Forgot Password?</a>
        </p>
    </div>
    <div id="login-welcome-section">
        <app-welcome></app-welcome>
    </div>

</div>
