@use 'styles' as *;

/* General styling for main navigation */
main[tuiNavigationMain] {
    border: none;
    padding: 0 0;
}

#logo {
    width: 40px;
}

@media (max-width: 768px) {

    nav a {
        min-width: 90px !important;
    }
}

@media (min-width: 768px) {

    nav a {
        min-width: 120px !important;
    }
}

aside[tuiNavigationAside]:after {
    inline-size: 14rem;
}

header[tuiNavigationHeader][tuiNavigationHeader] {
    background-color: var(--tos-background-accent-1);
    /* Use primary color for background */
}

header[tuiNavigationHeader][tuiNavigationHeader]:before {
    border-radius: 0;
}

header[tuiNavigationHeader][tuiNavigationHeader] [tuiButton] {
    max-inline-size: 12rem;
}

.user-avatar {
    cursor: pointer;
}

.user-avatar:hover {
    box-shadow: 0 0 5px 3px var(--tos-background-accent-1-hover);
}

/* Dropdown button */
button.dropdown {
    min-width: 200px;
    justify-content: flex-start;
}

.wishlist-button {
    color: var(--tos-text-primary-on-accent-1);
}

/* Horizontal Menu */
.horizontal-menu {
    position: sticky;
    top: 47px;
    left: 0;
    z-index: 1;
    /* Ensure it appears above other elements */

    display: flex;
    background-color: var(--tos-background-base);
    /* Use lighter gray for background */
    padding: 0.5em 1em;
    border-bottom: 1px solid #ccc;
    /* Use theme border color */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
}

.horizontal-menu a {
    position: relative;
    /* Allow absolute positioning of the underline */
    display: inline-block;
    text-decoration: none;
    color: var(--tos-text-primary);
    /* Use dark text color from theme */
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.horizontal-menu a tui-icon {
    margin: 5px;
}

.horizontal-menu a:hover {
    background-color: var(--tos-background-neutral-1);
    /* Use lighter shade of primary color */
    color: var(--tos-text-accent);
    /* White text on hover */
}

.horizontal-menu a.active:hover {
    background-color: inherit;
    color: var(--tos-text-primary);
    /* Use dark text color from theme */
}

.horizontal-menu a.active::after {
    content: '';
    /* Empty content for the pseudo-element */
    position: absolute;
    bottom: -8px;
    /* Shift the line down by 5px */
    left: 0;
    width: 100%;
    /* Full width of the link */
    height: 4px;
    /* Underline thickness */
    background-color: var(--tos-background-accent-2);
    /* Underline color (match active link color) */
    border-radius: 0;
    /* No border radius for the line */
}

/* Unread Notifications Count */
.unreadNotificationsCount {
    position: relative !important;
    top: -8px !important;
    left: -4px !important;
}


/* Responsive styling for horizontal menu */
@media (max-width: 768px) {
    .horizontal-menu {
        flex-direction: row;
        justify-content: space-around;
    }

    .horizontal-menu {
        top: 60px !important;
    }

    .horizontal-menu a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .horizontal-menu a tui-icon {
        margin: 0 0 5px 0;
        /* Adjust margin to center the icon above the label */
    }

    header[tuiNavigationHeader] {
        block-size: 60px !important;

    }

    .borrowed-items-text {
        display: none;
    }
}


form {
    background-color: var(--tos-background-base);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    border-radius: 16px;
    margin-bottom: 40px;
}

.borrow-item-button tui-badge-notification {
    background: linear-gradient(var(--tos-text-negative-hover), var(--tos-text-accent));

    color: var(--tos-text-primary);
    position: relative;
}

.approval-dashboard-badge {
    color: var(--tos-text-primary);
    margin: 0.2rem;
    background: linear-gradient(#b91a1a, #f52222);
}