<div class="community-container">
  <tos-breadcrumbs></tos-breadcrumbs>
  @if (!community) {
  <div>{{ 'community.notFound' | translate }}</div>
  }
  @if (community) {
  <div class="community-header">
    <div class="community-header-top">
      @if (isCssLoaded) {
      <svg viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
        xmlns="http://www.w3.org/2000/svg" class="background-motif">
        <g fill="none" stroke="currentColor" stroke-width="100" class="text-gray-700 opacity-25">
          <circle r="234" cx="196" cy="23"></circle>
          <circle r="234" cx="790" cy="491"></circle>
        </g>
      </svg>
      }
      <div class="rich-description" [innerHTML]="community.description"></div>
    </div>
    <div class="community-header-bottom">

      <div class="community-header-icon-container">
        <div class="community-header-icon" [style.background-image]="community.picture ? 'url(' + community.picture + ')' : 'none'">
          <tui-icon [style.visibility]="community.picture ? 'hidden' : 'visible'" icon="@tui.share-2" />
        </div>
      </div>
      <div class="community-header-title-container">
        <div class="community-header-title-top-part">
          <div class="community-header-title">
            <h1>
              {{ community.name }}
            </h1>
          </div>
          <div class="community-header-actions">
            <div class="community-actions">
              @if (isAdmin) {
              <button class="edit" iconStart="@tui.pencil" tuiButton appearance="outline" size="s" type="button"
                routerLink="/hub/communities/{{ community.id }}/edit"></button>
              <button class="delete" iconStart="@tui.trash" tuiButton appearance="outline" size="s" type="button"
                (click)="deleteCommunity(community)"></button>
              }
            </div>
          </div>
        </div>
        <div class="community-header-subtitle">
          <span>{{ community.location.name }}</span>
          <span><tui-icon icon="@tui.map-pin" /> {{ community.location.address }}</span>
          @if (community.requiresApproval) {
          <span><tui-icon icon="@tui.stamp" /> {{ 'community.requiresApproval' | translate }}</span>
          } @else {
          <span><tui-icon icon="@tui.stamp" /> {{ 'community.doesNotRequireApproval' | translate }}</span>
          }

      
        </div>


      </div>
    </div>
  </div>


  <nav id="community-menu">

    <a class="community-section community-action" routerLink="/hub/communities/{{ community.id }}/pages"
    routerLinkActive="active" (click)="onTabChange('pages')">
    <tui-icon icon="@tui.book-open-text" />
    {{ 'community.information' | translate }}
  </a>

    <a class="community-section community-action" routerLink="/hub/communities/{{ community.id }}/libraries"
      routerLinkActive="active" (click)="onTabChange('libraries')">
      <tui-icon icon="@tui.library" />
      {{ 'community.libraries' | translate }}
    </a>

    <a class="community-section community-action" routerLink="/hub/communities/{{ community.id }}/members"
      routerLinkActive="active" (click)="onTabChange('members')">
      <tui-icon icon="@tui.users" />
      {{ 'community.members' | translate }}
    </a>
  </nav>


  @if (tabOpened === 'pages') {   
    <div class="community-pages">
      <div class="sidebar-content">
        <div class="sidebar-pages">
          @for (page of pages; track page.id) {
          <div class="sidebar-page" [class.active]="selectedPage?.ref === page.ref">
            <div class="sidebar-page-title" (click)="selectPage(page)">
              {{ page.title }}
            </div>

            @if (isAdmin) {
              <div class="sidebar-page-actions">
                <button class="edit" iconStart="@tui.pencil" tuiButton appearance="outline" size="s" type="button"
                  (click)="editPage(page)">
                </button>
                <button class="delete" iconStart="@tui.trash" tuiButton appearance="outline" size="s" type="button"
                  (click)="deletePage(page)">
                </button>
              </div>
            }
          </div>
          }
          <div class="sidebar-create-page">
            <button class="add" iconStart="@tui.plus" appearance="primary" tuiButton size="m" type="button"
              (click)="createPage()">
              {{ 'community.addPage' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="community-pages-content">
        @if (selectedPage) {
          @if (editMode) {
            <custom-pages-edit [communityId]="community.id" [page]="selectedPage"></custom-pages-edit>
          } @else {
            <custom-page [page]="selectedPage"></custom-page>
          }
        } @else {
        <div>{{ 'community.noPageFound' | translate }}</div>
        }
      </div>
    </div>


  } @else if (tabOpened === 'libraries') {
    <libraries></libraries>
  }
  @if (tabOpened === 'members') {
    <filtered-and-paginated-members [community]="community" ></filtered-and-paginated-members>
  }
  }
</div>