<div tuiAppearance="floating" class="item-card">
  <!-- Flexbox container for the image and details -->
  <div class="card-content">
    <!-- Image Section -->
    <div class="image-container">
      <img [src]="item().imageUrl" [alt]="item().name" class="item-image" />
      <div class="action-container">
        <button class="reserve-button" appearance="primary" size="m" tuiButton type="button" (click)="reserveItem()">
          {{ 'itemCard.reserveItem' | translate }}
        </button>
         <button class="borrow-now-button" appearance="primary" size="m" tuiButton type="button" (click)="borrowNow()">
          {{ 'itemCard.borrowNow' | translate }}
        </button>
 
      </div>
    </div>

    <!-- Item Details -->
    <div class="item-content">
      <div class="item-details">
        <div class="item-details-top-right">
          <button
            class="reservation-state"
            iconStart="@tui.calendar-clock"
            tuiButton
            [appearance]="isReserved() ? 'primary' : 'outline'"
            size="m"
            type="button"
            [tuiHint]="
              isReserved()
                ? ('itemCard.reservationState.nextReservation' | translate) +
                  formatReservationDate(nextReservation().startDate) +
                  ' - ' +
                  formatReservationDate(nextReservation().endDate)
                : 'itemCard.reservationState.noUpcomingReservations' | translate
            "
          ></button>

          <button
            class="favorite"
            [ngClass]="{ selected: item().favorite }"
            iconStart="@tui.heart"
            tuiButton
            [appearance]="item().favorite ? 'primary' : 'outline'"
            size="s"
            type="button"
            (click)="markAsFavorite(item())"
          ></button>
        </div>
        <h2 tuiTitle>
          {{ item().name }}
        </h2>
        @if (library()) {
          <span class="item-attribute library">
            <tui-icon icon="@tui.library" />
            <span class="library-value">{{ library()?.name }}</span>
          </span>
        }
        @if (community()) {
          <span class="item-attribute community">
            <tui-icon icon="@tui.share-2" />
            <span class="community-value">{{ community()?.name }}</span>
          </span>
        }
        <span class="shortDescription">
          {{ item().shortDescription }}
        </span>
      </div>

      <!-- Borrow Button -->
      <div class="item-actions">
        <div class="item-categories">
          <tui-icon [icon]="item().category.icon" />
          <span class="category-name">{{ item().category.name }}</span>
        </div>

        <button
          class="borrow-counts"
          disabled
          appearance="flat"
          size="m"
          tuiButton
          type="button"
        >
          {{ item().borrowRecords.length }} {{ 'itemCard.borrowCounts' | translate }}
        </button>

        <button
          appearance="outline"
          class="accent details-button"
          size="m"
          routerLink="/hub/items/{{ item().id }}"
          tuiButton
          type="button"
        >
          {{ 'itemCard.more' | translate }}
          <tui-icon icon="@tui.arrow-right" />
        </button>
      </div>
    </div>
  </div>
</div>
