<div class="item-activity">
    <h1>{{ 'itemActivity.title' | translate }}</h1>
    <div class="item-details">

        <div class="item-details-left">


            <h2>{{ item.name }}</h2>
            <img [src]="item.imageUrl" alt="{{ item.name }}" class="item-image" />

            <div class="attributes">
                <span class="category">
                    <tui-icon [icon]="item.category.icon" />
                    <span class="category-value">{{ item.category.name }}</span>
                </span>
                <span class="location">
                    <tui-icon icon="@tui.map-pin" />
                    <span class="location-value">{{ item.located }}</span>
                </span>
                <span class="owner">
                    <tui-icon icon="@tui.user-round" />
                    <span class="owner-value">{{ item.owner }}</span>
                </span>
            </div>
            <div class="rich-description" [innerHTML]="sanitizedDescription"></div>

        </div>

        <div class="item-details-right">
            <h2>{{ 'itemActivity.borrowsHistory' | translate }}</h2>
            <div class="calendar-wrapper">
                @if (!isMobile) {   
                <tui-calendar [markerHandler]="markerHandler" [maxViewedMonth]="firstMonth" [month]="firstMonth"
                    [showAdjacent]="false" [value]="value" [(hoveredItem)]="hoveredItem" (dayClick)="onDayClick($event)"
                    (monthChange)="onMonthChangeFirst($event)" />
                <tui-calendar [markerHandler]="markerHandler" [minViewedMonth]="lastMonth" [month]="lastMonth"
                    [showAdjacent]="false" [value]="value" [(hoveredItem)]="hoveredItem" (dayClick)="onDayClick($event)"
                    (monthChange)="onMonthChangeLast($event)" />
                } @else {
                    <tui-calendar [markerHandler]="markerHandler"  [month]="firstMonth"
                        [showAdjacent]="false" [value]="value" [(hoveredItem)]="hoveredItem" (dayClick)="onDayClick($event)"
                        (monthChange)="onMonthChangeFirst($event)" />
                }
            </div>


        </div>

    </div>

    <div class="item-stats">
        <card-counter [icon]="'@tui.heart'" [label]="'itemActivity.favorites' | translate" [counter]="favoritesCount"></card-counter>

        <card-counter [icon]="'@tui.calendar'" [label]="'itemActivity.avgBorrowDuration' | translate" [counter]="avgBorrowDuration"></card-counter>

        <card-counter [icon]="'@tui.calendar-x-2'" [label]="'itemActivity.lateReturns' | translate" [counter]="lateCount"></card-counter>

        <card-counter [icon]="'@tui.archive'" [label]="'itemActivity.returns' | translate" [counter]="returnsCount"></card-counter>

        <card-counter [icon]="'@tui.clock'" [label]="'itemActivity.currentStatus' | translate" [counter]="currentStatus"></card-counter>

        <card-counter [icon]="'@tui.calendar-clock'" [label]="'itemActivity.reservations' | translate" [counter]="reservationsCount"></card-counter>

    </div>

    <div class="item-borrows-records">
        <h2>{{ 'itemActivity.borrowsRecords' | translate }}</h2>
        <tui-tabs [(activeItemIndex)]="activeStatusIndex">
            @for (status of statuses; track status) {
            <button [iconStart]="status.icon" tuiTab type="button" (click)="selectStatus(status.status)">
                {{ status.name }}
            </button>
            }
        </tui-tabs>

        <div class="borrow-records-list">
            @for (record of borrowRecordsByStatus[selectedStatus]; track record) {
                <borrow-record-card
                [user]="usersById[record.borrowedBy]"
                [borrowRecord]="record"
            ></borrow-record-card>
            }
            @if (!borrowRecordsByStatus[selectedStatus] || borrowRecordsByStatus[selectedStatus].length === 0) {
            <p>{{ 'itemActivity.noBorrowRecords' | translate }}</p>
            }
        </div>

    </div>

</div>