@use 'theme' as *;

/* Parent container for layout */
.layout-container {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    gap: 1rem;
}

.sidebar {
    width: 350px;
    /* Light gray background from theme */
    padding-top: 0;


    h3.filter-title {
        margin: 0;
    }

    h3.filter-category-title {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .top-actions-left {

        .search {
            padding-right: 0;
            padding-left: 0;
            border: 0;
        }


        .sorting-select {
            width: 100%;
            display: inline-block;
            margin-bottom: 10px;

            input {
                min-height: 55px;
            }
        }
    }

    .filters-section {


        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }

        background-color: var(--tos-background-base);
        border: 0px solid rgb(226, 232, 240);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1),
        0 1px 2px -1px rgb(0 0 0 / .1) !important;
    }


    .filter-group {
        margin-bottom: 30px;

        h3 {
            margin-block-end: 0.5em;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
        }
    }

    /* Filter group styling */
    .filter-categories,
    .filter-statuses {
        margin-top: 0;

        /* Status badges */
        .badge-reserved {
            background-color: #3498db;
            /* Light Blue */
        }

        .badge-borrowed {
            background-color: #2ecc71;
            /* Green */
        }

        .badge-returned {
            background-color: #95a5a6;
            /* Gray */
        }


        .filter-category {
            list-style-type: none;
            color: var(--tos-text-tertiary);

            height: 30px;
            line-height: 30px;
            margin-bottom: 5px;
        }

        .filter-category:hover,
        .filter-status:hover {
            position: relative;
            left: 5px;
        }

        .filter-category.active {
            opacity: 1;
            color: var(--tos-text-primary);

            tui-icon {
                visibility: visible;
            }
        }
    }

    .filter-availability {
        label {
            display: inline-block;
        }

        input {
            float: left;
            margin-right: 10px;
        }

    }

    .filter-statuses {
        h3 {
            margin-top: 0;
        }
    }

    .filter-libraries {

        .filter-library-location {
            color: var(--tos-text-action);
        }
    }

    .filter-group span {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: var(--tos-background-accent-1);
        /* Dark text color */
    }

    .filter-group label {
        display: block;
        margin-bottom: 0.5rem;
    }
}


.grid-container {
    width: 100%;

    .items-container {
        flex: 1;
        display: grid;
        gap: 1rem;
        padding: 10px 0;
        box-sizing: border-box;
        width: 100%;

        .no-items {
            font-size: 1.5rem;
            color: var(--tos-text-tertiary);
            margin: 0 auto;
            width: 100%;
            text-align: center;
            grid-column: 1 / -1;
        }
    }

    // Default to two columns
    .items-container {
        grid-template-columns: repeat(3, 1fr);
    }


    @media (max-width: 1600px) {
        .items-with-sidebar {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // Switch to single column on smaller screens
    @media (max-width: 1400px) {
        .items-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 800px) {
        .items-container {
            grid-template-columns: 1fr;
        }
    }




    .top-actions {
        padding-top: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .top-actions-right {
        margin-left: auto;
        width: 200px;

    }
}


@media (min-width: 800px) {
    .top-actions-right {

        .sorting-select {
            width: 100%;
        }
    }
}

@media (max-width: 800px) {
    .layout-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        order: -1; // Move sidebar to the top
    }

    .grid-container {
        width: 100%;
    }

    .top-actions-right {
        width: 100% !important;

        .sorting-select {
            width: 100%;
            margin-right: 0; // Reset margin for full width
        }
    }
}


@media (min-width: 1200px) {

    .search-bar-container {
        width: 100%;
        margin-bottom: 40px;
        padding-top: 40px;

        .search-bar {
            display: grid;
            grid-template-columns: 30% 22% 23% 15% 10%;
            gap: 0rem;
            width: 80%;
            padding: 0px;
            padding-left: 30px;

            margin: 0 auto;
            margin-bottom: 20px;


            background-color: #fff;
            border-radius: 80px;
            overflow: hidden;
            text-align: left;
            transition: transform 0.2s ease,
                box-shadow 0.2s ease;
            border: 0px solid rgb(226, 232, 240);
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1),
                0 1px 2px -1px rgb(0 0 0 / .1) !important;

            .search-input {
                padding: 15px;

                input {
                    width: calc(100% - 45px);
                    margin-left: 6px;
                    font-size: large;
                    border: 0;
                    height: 24px;

                    box-shadow: none;
                    outline: none;

                    position: relative;
                    top: 2px;
                }
            }

            .search-date-range {
                width: 100%;
            }

            .sort-by button {
                border-top-right-radius: 80px;
                border-bottom-right-radius: 80px;
            }

            button {
                padding: 30px;
                width: 100%;
                border-left: 1px solid lightgray; // Adjust the color and width as needed
                border-radius: 0;
            }
        }
    }
}


@media (min-width: 800px) and (max-width: 1200px) {

    .search-bar-container {
        width: 100%;
        margin-bottom: 40px;
        padding-top: 40px;

        .search-bar {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 0rem;
            width: calc(100% - 60px);
            padding: 0px;

            margin: 0 30px;
            margin-bottom: 20px;


            background-color: #fff;
            border-radius: 16px;
            overflow: hidden;
            text-align: left;
            transition: transform 0.2s ease,
                box-shadow 0.2s ease;
            border: 0px solid rgb(226, 232, 240);
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1),
                0 1px 2px -1px rgb(0 0 0 / .1) !important;

            .search-input {
                grid-column: span 2;
                max-width: 350px;
                padding: 15px 25%;
                border-bottom: 1px solid lightgray;

                input {
                    width: calc(100% - 40px);
                    font-size: large;
                    border: 0;
                    height: 24px;

                    box-shadow: none;
                    outline: none;

                    position: relative;
                    top: 2px;
                }
            }

            .search-date-range {
                width: 100%;
            }


            button {
                padding: 30px;
                width: 100%;
                border-radius: 0;
            }
        }
    }
}

@media (max-width: 800px) {

    .search-bar-container {
        width: 100%;
        margin-bottom: 40px;
        padding-top: 40px;

        .search-bar {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0rem;
            width: calc(100% - 60px);
            padding: 0px;

            margin: 0 30px;
            margin-bottom: 20px;

            background-color: #fff;
            border-radius: 16px;
            overflow: hidden;
            text-align: left;
            transition: transform 0.2s ease,
                box-shadow 0.2s ease;
            border: 0px solid rgb(226, 232, 240);
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1),
                0 1px 2px -1px rgb(0 0 0 / .1) !important;

            .search-input {
                width: 100%;
                padding: 15px 5px;
                border-bottom: 1px solid lightgray;

                input {
                    width: calc(100% - 40px);
                    font-size: large;
                    border: 0;
                    height: 24px;

                    box-shadow: none;
                    outline: none;

                    position: relative;
                    top: 2px;
                }
            }

            .search-date-range {
                width: 100%;
            }


            button {
                justify-content: start;
                padding: 30px;
                width: 100%;
                border-radius: 0;
                border-bottom: 1px solid rgb(233, 233, 233);
            }
        }
    }

}



.libraries-container {
    width: 400px;
    height: 200px;
    padding: 30px 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 30px 30px;
    display: grid;

    .library {
        min-height: 60px; // Set a fixed minimum height for all categories
        max-height: 60px; // Set a fixed minimum height for all categories

        border: 1px solid var(--tos-border-normal);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        /* Arrange items vertically */
        align-items: center;
        /* Center items horizontally */
        text-align: center;
        /* Center text */
        padding-bottom: 12px;
        color: var(--tos-text-secondary);
    }

    .library:hover {
        cursor: pointer;
        color: var(--tos-text-accent);
        padding-bottom: 10px;
        border-bottom: 2px solid var(--tos-text-accent);
    }

    .library.active {
        color: var(--tos-text-primary);
        padding-bottom: 10px;
        border: 2px solid var(--tos-text-primary);
        box-shadow:
            inset 0 2px 5px rgba(0, 0, 0, 0.1), // Top shadow
            inset 0 -2px 5px rgba(0, 0, 0, 0.1),
            0 1px 3px 0 rgb(0 0 0 / .3),

    }
}



.sorting-option {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 12px;
    color: var(--tos-text-secondary);
}

.sorting-option:hover {
    cursor: pointer;
    color: var(--tos-text-accent);
    padding-bottom: 10px;
}

.sorting-option.active {
    color: var(--tos-text-accent);
    padding-bottom: 10px;
    background-color: var(--tos-background-neutral-1-pressed);

}

.categories-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 30px 30px;


    .category {
        min-height: 60px; // Set a fixed minimum height for all categories

        border: 1px solid var(--tos-border-normal);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        /* Arrange items vertically */
        align-items: center;
        /* Center items horizontally */
        text-align: center;
        /* Center text */
        padding-bottom: 12px;
        color: var(--tos-text-secondary);

    }

    .category:hover {
        cursor: pointer;
        color: var(--tos-text-accent);
        padding-bottom: 10px;
        border-bottom: 2px solid var(--tos-text-accent);
    }

    .category.active {
        color: var(--tos-text-primary);
        padding-bottom: 10px;
        border: 2px solid var(--tos-text-primary);
        box-shadow:
            inset 0 2px 5px rgba(0, 0, 0, 0.1), // Top shadow
            inset 0 -2px 5px rgba(0, 0, 0, 0.1),
            0 1px 3px 0 rgb(0 0 0 / .3),

    }

    .category-name {
        margin-top: 0.5rem;
        /* Add some space between icon and text */
    }
}

.categories-carousel-wrapper {
    display: flex;
    align-items: center;
}