<tui-root>
    <!-- Position drawer inside the example block -->
    <div class="custom-portal"><ng-container #viewContainer /></div>

    <!-- Header -->
    <header tuiNavigationHeader>
        <span tuiNavigationLogo>
            <tui-icon icon="@tui.home"></tui-icon>
            <span tuiFade>The Open Shelf</span>
        </span>
        <hr />

        <app-notifications-popup></app-notifications-popup>

        <button 

        iconStart="@tui.settings" 
        tuiIconButton 
        type="button" 
        tuiChevron 
        tuiDropdownOpen
        [tuiDropdown]="settings">
            <ng-template #settings>
                <tui-data-list size="s">
                    <a routerLink="/community/settings" tuiOption class="dropdown" type="button">
                        Settings
                        </a>
                </tui-data-list>
                <tui-data-list size="s">
                    <a routerLink="auth/sign-out" tuiOption class="dropdown" type="button" i18n="@@logoutMenu">
                        Log out
                    </a>
                </tui-data-list>
            </ng-template>
        </button>
    </header>

    <!-- Horizontal Menu -->
    <nav id="menu" class="horizontal-menu">
        <!-- Buttons -->
        <a routerLink="/community/items" appearance="secondary-grayscale" iconStart="@tui.package" type="button"
            i18n="@@borrowItemButton">
            <tui-icon icon="@tui.package" />
            Items
        </a>

        <a routerLink="/community/my-borrowed-items" iconStart="@tui.shopping-basket" appearance="secondary-grayscale" tuiChevron
             type="button">
            <tui-icon icon="@tui.shopping-basket" />

            <span>My borrowed items</span>
           
        </a>

    </nav>

    <!-- Main Content -->
    <div [style.display]="'flex'">
        <main tuiNavigationMain>
            <router-outlet></router-outlet>
        </main>
    </div>
</tui-root>