<tui-root>
    <!-- Position drawer inside the example block -->
    <div class="custom-portal"><ng-container #viewContainer /></div>

    <!-- Header -->
    <header tuiNavigationHeader>
        <span tuiNavigationLogo>
            <img id="logo" src="/logo-simple.png" />
            <span tuiFade>The Open Shelf</span>
        </span>
        <hr />

        <app-notifications-popup></app-notifications-popup>

        <button iconStart="@tui.ellipsis" tuiIconButton type="button" tuiChevron tuiDropdownOpen
            [tuiDropdown]="settings">
            <ng-template #settings>
                <tui-data-list size="s">
                    <button routerLink="/community/settings" class="dropdown" iconStart="@tui.settings" tuiButton
                        type="button">
                        Settings
                    </button>
                </tui-data-list>
                <tui-data-list size="s">
                    <button routerLink="/admin" class="dropdown" iconStart="@tui.lock" tuiButton type="button">
                        Admin panel
                    </button>

                </tui-data-list>
                <tui-data-list size="s">
                    <button routerLink="/auth/sign-out" class="dropdown" iconStart="@tui.log-out" tuiButton
                        type="button">
                        Log out
                    </button>

                </tui-data-list>
            </ng-template>
        </button>
    </header>

    <!-- Horizontal Menu -->
    <nav id="menu" class="horizontal-menu">
        <!-- Buttons -->
        <a routerLink="/community/items" routerLinkActive="active" appearance="secondary-grayscale"
            iconStart="@tui.package" type="button" i18n="@@borrowItemButton">
            <tui-icon icon="@tui.package" />
            Items
        </a>

        <a routerLink="/community/my-borrowed-items" routerLinkActive="active" iconStart="@tui.shopping-basket"
            appearance="secondary-grayscale" tuiChevron type="button">
            <tui-icon icon="@tui.shopping-basket" />

            <span>My borrowed items</span>

        </a>

    </nav>

    <!-- Main Content -->
    <div [style.display]="'flex'">
        <main tuiNavigationMain>
            <router-outlet></router-outlet>
        </main>
    </div>
</tui-root>