@use 'theme' as *;

/* General styling for main navigation */
main[tuiNavigationMain] {
    border: none;
    padding: 0 30px;
}

#logo {
    width: 40px;
}

aside[tuiNavigationAside]:after {
    inline-size: 14rem;
}

header[tuiNavigationHeader][tuiNavigationHeader] {
    background-color: $primary-color; /* Use primary color for background */
}

header[tuiNavigationHeader][tuiNavigationHeader]:before {
    border-radius: 0;
}

header[tuiNavigationHeader][tuiNavigationHeader] [tuiButton] {
    max-inline-size: 12rem;
}

/* Dropdown button */
button.dropdown {
    min-width: 200px;
    justify-content: flex-start;
}

/* Horizontal Menu */
.horizontal-menu {
    display: flex;
    background-color: $light-color; /* Use lighter gray for background */
    padding: 0.5em 1em;
    border-bottom: 1px solid $light-color; /* Use theme border color */
    box-shadow: 0px 2px 5px $neutral-color; /* Optional shadow */
    margin-bottom: 10px;
}

.horizontal-menu a {
    text-decoration: none;
    color: $dark-color; /* Use dark text color from theme */
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.horizontal-menu a tui-icon {
    margin: 5px;
}

.horizontal-menu a:hover,
.horizontal-menu a.active {
    background-color: $light-color; /* Use lighter shade of primary color */
    color: $white; /* White text on hover */
}

/* Unread Notifications Count */
.unreadNotificationsCount {
    position: relative !important;
    top: -8px !important;
    left: -4px !important;
}