@use 'theme' as *;

.layout-container {
    padding: 0 30px;
    padding-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.library-card {
    position: relative;
    margin: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    padding: 20px;
    width: 400px;
    height: 200px;
}

.library-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.add-library-card {
    background: rgba(251, 251, 251, 0.8);
}

.add-library-card:hover {
    background: rgb(162, 162, 162);
    cursor: pointer;
}

.add-library-card tui-icon {
    margin: auto;
}

button {
    border-radius: 30px;
    font-size: small;
    font-weight: 600;
}

.item-actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4%;
    height: 14%;
    display: flex;
    justify-content: flex-end;
}

.item-actions tui-icon {
    color: var(--tos-text-primary);
}



.bottom-actions {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px; // Optional: Adjust the gap between grid items


    button {
        font-size: small;
        font-weight: 600;
        margin: 2px;
    }

    .items-count {
        grid-column: span 6;
    }

    .items-button {
        grid-column: span 6;
    }
}