<div class="layout-container">
  @for (library of libraries; track library) {
    <div class="library-card" tuiAppearance="floating" tuiCardMedium>
      <div class="item-actions">
        <tui-icon class="library-icon" icon="@tui.library" />
      </div>

      <h2 tuiTitle>
        {{ library.name }}
        <span tuiSubtitle>{{ library.location.address }}</span>
      </h2>

      <div class="bottom-actions">
        <button
          appearance="outline"
          disabled
          class="items-count"
          size="m"
          routerLink="/community/libraries/{{ library.id }}/borrow-records"
          tuiButton
          type="button"
        >
          {{ 'libraries.itemsCount' | translate: { count: 8 } }}
        </button>

        <button
          appearance="outline"
          class="accent items-button"
          size="m"
          routerLink="/community/libraries/{{ library.id }}/items"
          tuiButton
          type="button"
        >
          {{ 'libraries.seeItems' | translate }}
          <tui-icon icon="@tui.arrow-right" />
        </button>
      </div>
    </div>
  }

  <div
    class="library-card add-library-card"
    routerLink="/community/libraries/add-library"
    tuiAppearance="floating"
    tuiCardMedium
  >
    <tui-icon
      icon="@tui.plus"
      [style.color]="'var(--tui-background-accent-1)'"
    />
  </div>
</div>
