<div class="settings-container">
    <div class="settings-header">
        <tui-avatar
          [src]="userInfo.firstName + ' ' + userInfo.lastName | tuiInitials"
          [style.background]="userInfo.firstName + ' ' + userInfo.lastName | tuiAutoColor"
          size="l"
        ></tui-avatar>
      
        <div class="user-info">
          <span class="name">{{userInfo.firstName}} {{userInfo.lastName}}</span>
          <span class="username">&#64;{{userInfo.username}}</span>
        </div>

        <nav class="settings-menu-phone">
            <button
            appearance="primary"
            iconStart="@tui.menu"
            tuiDropdownOpen
            tuiIconButton
            type="button"
            [tuiDropdown]="menu"
        >
            More
            <ng-template #menu>
                <tui-data-list>

                    <a tuiOption routerLink="/community/settings/profile" routerLinkActive="active">
                        <tui-icon icon="@tui.user" [style.width.px]="16" />
                        Profile
                    </a>
                </tui-data-list>
            </ng-template>
        </button>
        </nav>
    </div>
  
    <div class="settings-body">
        <nav class="settings-menu">
            <ul>
                <li>
                    <a routerLink="/community/settings/profile" routerLinkActive="active">
                        <tui-icon icon="@tui.user" [style.width.px]="16" />
                        Profile
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Main content area -->
        <div class="settings-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>