<div id="reset-password-container">
  <div id="reset-password-form-section">
    <img class="logo" src="/logo-bright.png" alt="The Open Shelf" />
    <h2>{{ 'resetPassword.title' | translate }}</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <tui-textfield>
        <label tuiLabel>{{ 'resetPassword.newPassword' | translate }}</label>
        <input formControlName="newPassword" type="password" tuiTextfield />
      </tui-textfield>

      <tui-textfield>
        <label tuiLabel>{{ 'resetPassword.confirmPassword' | translate }}</label>
        <input formControlName="confirmPassword" type="password" tuiTextfield />
      </tui-textfield>

      <button appearance="accent" tuiButton size="l" type="submit" 
        [disabled]="!resetPasswordForm.valid">
        {{ 'resetPassword.submit' | translate }}
      </button>
    </form>

    <p>
      <a routerLink="/sign-in">{{ 'resetPassword.returnToSignIn' | translate }}</a>
    </p>
  </div>
  <div id="reset-password-welcome-section">
    <app-welcome></app-welcome>
  </div>
</div>
