<div id="forgot-password-container">
  <div id="forgot-password-form-section">
    <img class="logo" src="/logo-bright.png" alt="The Open Shelf" />
    <h2>{{ 'forgotPassword.title' | translate }}</h2>
    @if (config.isRegistrationEnabled) {
      <p>
        {{ 'forgotPassword.dontHaveAccount' | translate }}
        <a routerLink="/sign-up">{{ 'forgotPassword.signUp' | translate }}</a>
      </p>
    }

    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <tui-textfield>
        <label tuiLabel>{{ 'forgotPassword.email' | translate }}</label>
        <input formControlName="email" type="email" tuiTextfield />
      </tui-textfield>
      <button appearance="accent" tuiButton size="l" type="submit">{{ 'forgotPassword.send' | translate }}</button>
    </form>
    <p>
      <a routerLink="/sign-in">{{ 'forgotPassword.returnToSignIn' | translate }}</a>
    </p>
  </div>
  <div id="forgot-password-welcome-section">
    <app-welcome></app-welcome>
  </div>
</div>
