<div id="forgot-password-container">
  <div id="forgot-password-form-section">
    <h2>Forgot password</h2>
    @if (config.isRegistrationEnabled) {
      <p>
        Don't have an account?
        <a routerLink="/sign-up">Sign Up</a>
      </p>
    }

    <form
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()"
      >
      <label>Email</label>
      <input
        formControlName="email"
        type="email"
        >
      <button type="submit">Send</button>
    </form>
    <p>
      <a routerLink="/sign-in">Return to sign-in</a>
    </p>
  </div>
  <div id="forgot-password-welcome-section">
    <app-welcome></app-welcome>
  </div>
</div>
