@use 'theme' as *;

#forgot-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  #forgot-password-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--tos-background-base);
    font-family: Arial, sans-serif;
    height: 100vh;
    padding: 20px;

    h2 {
      width: 100%;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 15px;
    }

    p {
      width: 100%;
      font-size: 1rem;
      color: var(--tos-text-primary);
      margin-bottom: 20px;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    a {
      color: var(--tos-text-action);
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: var(--tos-text-action-hover);
      }
    }
  }

  #forgot-password-welcome-section {
    height: 100vh;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--tos-background-accent-1);
    color: var(--tos-text-primary-on-accent-1);
    width: 100%;
    min-height: 400px;
    position: relative;
    overflow: hidden;
  }
}

form {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0px;
  margin-bottom: 0px;
}