<div id="edit-user-container">
  <h2>{{ 'editUser.editTitle' | translate }}</h2>

  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <tui-textfield>
      <label tuiLabel>{{ 'editUser.username' | translate }}</label>
      <input formControlName="username" type="text" tuiTextfield />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>{{ 'editUser.email' | translate }}</label>
      <input formControlName="email" type="email" tuiTextfield />
    </tui-textfield>

    @if (!userId) {
      <tui-textfield>
        <label tuiLabel>{{ 'editUser.password' | translate }}</label>
        <input formControlName="password" type="password" tuiTextfield />
        <tui-icon tuiPassword />
      </tui-textfield>
    }
    <!-- Address Fields -->
    <tui-textfield>
      <label tuiLabel>{{ 'editUser.flatNumber' | translate }}</label>
      <input formControlName="flatNumber" type="text" tuiTextfield />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>{{ 'editUser.streetAddress' | translate }}</label>
      <input formControlName="address" type="text" tuiTextfield />
    </tui-textfield>

    <button
      type="submit"
      class="add-user"
      appearance="accent"
      size="m"
      tuiButton
    >
      {{ 'editUser.saveChanges' | translate }}
    </button>
    <button
      class="add-user"
      routerLink="/admin/users"
      appearance="secondary"
      size="m"
      tuiButton
    >
      {{ 'editUser.cancel' | translate }}
    </button>
  </form>
</div>
