<tos-table
  [addActionRoute]="'/admin/categories/add'"
  [getDataFunction]="getDataFunction"
  [columns]="columns"
>
  <div add-action-content>
    <tui-icon icon="@tui.plus" [style.height.rem]="1" />
    {{ 'categories.addCategory' | translate }}
  </div>

  <ng-template #itemRowTemplate let-item="item" let-column="column">
    @if (column.key === "name") {
      <tui-icon [icon]="item.icon" />
      {{ item.name }}
    }
  </ng-template>


  <ng-template #cardTemplate let-item="item">
    <div class="category-content">
      <tui-icon [icon]="item.icon" />
      {{ item.name }}

    </div>
  </ng-template>

  <ng-template #itemActionsTemplate let-item="item">
    <div class="category-actions">
      <button
        [routerLink]="['/admin/categories', item.id, 'edit']"
        appearance="outline"
        iconStart="@tui.pen"
        size="s"
        tuiIconButton
      type="button"
      [style.border-radius.%]="100"
    >
      {{ 'categories.edit' | translate }}
    </button>
    <button
      (click)="deleteCategory(item)"
      appearance="outline"
      iconStart="@tui.trash-2"
      size="s"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
    >
      {{ 'categories.delete' | translate }}
    </button>
    </div>
  </ng-template>
</tos-table>
