@use 'theme' as *;

.top-actions {
    float: left;
    margin-bottom: 10px;
}

.category-content {
    height: 80px;
}

.category-actions {
    text-align: center;
    padding: 10px;

    button {
        margin: 0 10px;
    }
}

.category-content {
    padding-top: 10px;
    text-align: center;

    tui-icon {
        display: block;
        margin: auto;
    }
}