@if (categoryId) {
  <h2>Edit Category</h2>
}
@if (!categoryId) {
  <h2>Add Category</h2>
}
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <tui-textfield>
    <label tuiLabel>Category Name</label>
    <input
      id="name"
      formControlName="name"
      type="text"
      placeholder="Enter category name"
      tuiTextfield
    />
  </tui-textfield>

  <tui-textfield
  [iconStart]="categoryForm.get('icon')?.value"
  >
    <label tuiLabel>Category Icon</label>
    <input
      id="icon"
      formControlName="icon"
      type="text"
      placeholder="Enter category icon"
      tuiTextfield
    />
    <tui-icon tuiTooltip="Supported icons from https://taiga-ui.dev/components/icon" />

  </tui-textfield>

  <label for="template">Template</label>
  <quill-editor
    formControlName="template"
    [modules]="editorConfig"
    style="height: 200px"
  ></quill-editor>

  <button
    type="submit"
    appearance="accent"
    size="m"
    tuiButton
    [disabled]="categoryForm.invalid"
  >
    Save
  </button>
</form>
