@use 'styles' as *;

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Quill Editor */
quill-editor {
    background-color: var(--tos-background-base);
    /* Ensure the editor has a white background */
    margin-bottom: 100px;
}