<div class="container">
  <h2>{{ 'addItem.title' | translate }}</h2>
  <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
    <tui-textfield>
      <label tuiLabel>{{ 'addItem.itemName' | translate }}</label>
      <input id="name" formControlName="name" type="text" [placeholder]="'addItem.itemNamePlaceholder' | translate" tuiTextfield />
    </tui-textfield>

    <tui-combo-box formControlName="category" [stringify]="stringify" [tuiTextfieldLabelOutside]="true">
      <tui-data-list-wrapper *tuiDataList [items]="categories" [itemContent]="stringify | tuiStringifyContent" />
    </tui-combo-box>

    <label for="image">{{ 'addItem.uploadImage' | translate }}</label>
    <div class="drag-drop-zone" (dragover)="allowDrag($event)" (drop)="onImageDrop($event)">
      @if (!imageFile) {
      <p>{{ 'addItem.dragAndDropImage' | translate }}</p>
      }
      @if (imageFile) {
      <p>{{ 'addItem.fileSelected' | translate }}: {{ imageFile.name }}</p>
      }
    </div>

    <tui-textarea formControlName="shortDescription" class="tui-space_top-4"
    placeholder="Enter a short description (max 150 characters)" maxlength="150">
      {{ 'addItem.shortDescription' | translate }}
    </tui-textarea>

    <label for="description">{{ 'addItem.description' | translate }}</label>
    <quill-editor formControlName="description" [modules]="editorConfig" style="height: 200px"></quill-editor>

    <button type="submit" tuiButton size="m" appearance="accent" [disabled]="addItemForm.invalid">
      {{ 'addItem.addItemButton' | translate }}
    </button>
  </form>
</div>