<tui-root>
  <!-- Ignore this part, it is only here to position drawer inside the example block -->
  <div class="custom-portal"><ng-container #viewContainer /></div>
  <header tuiNavigationHeader>
    <span tuiNavigationLogo>
      <img id="logo" src="/logo-simple.png" />
      <span tuiFade>{{ 'adminLayout.logoText' | translate }}</span>
    </span>
    <hr />

    <app-notifications-popup></app-notifications-popup>

    <button iconStart="@tui.ellipsis" tuiIconButton type="button" tuiChevron tuiDropdownOpen [tuiDropdown]="settings">
      <ng-template #settings>
        <tui-data-list size="s">
          <button routerLink="/community" class="dropdown" iconStart="@tui.users" tuiButton type="button">
            {{ 'adminLayout.communityPortal' | translate }}
          </button>
        </tui-data-list>
        <tui-data-list size="s">
          <button routerLink="/auth/sign-out" class="dropdown" iconStart="@tui.log-out" tuiButton type="button">
            {{ 'adminLayout.logOut' | translate }}
          </button>
        </tui-data-list>
      </ng-template>
    </button>
  </header>

  <nav id="menu" class="horizontal-menu">
    <a routerLink="/admin/dashboard/" routerLinkActive="active" appearance="secondary-grayscale" iconStart="@tui.users"
      type="button" i18n="@@borrowItemButton">
      <tui-icon icon="@tui.layout-dashboard" />
      {{ 'adminLayout.dashboard' | translate }}
    </a>

    <a routerLink="/admin/users/" routerLinkActive="active" appearance="secondary-grayscale" iconStart="@tui.users"
      type="button" i18n="@@borrowItemButton">
      <tui-icon icon="@tui.users" />
      {{ 'adminLayout.users' | translate }}
    </a>

    <a routerLink="/admin/items/" routerLinkActive="active" appearance="secondary-grayscale" iconStart="@tui.package"
      type="button" i18n="@@borrowItemButton">
      <tui-icon icon="@tui.package" />
      {{ 'adminLayout.items' | translate }}
    </a>

    @if (mobile) {
    <button
    tuiButton
    tuiChevron
    type="button"
    appearance="flat"
    class="more-button"
    [tuiDropdown]="dropdownContent"
    [tuiDropdownManual]="openMore"
    (click)="onClickMore()"
    (tuiActiveZoneChange)="onActiveZone($event)"
    (tuiObscured)="onObscured($event)"
>
    {{ 'adminLayout.more' | translate }}
    <ng-template #dropdownContent>
        <div class="dropdown">
          <a (click)="closeMore()" routerLink="/admin/categories/" routerLinkActive="active" appearance="secondary-grayscale"
          iconStart="@tui.chart-column-stacked" type="button" i18n="@@borrowItemButton">
          <tui-icon icon="@tui.chart-column-stacked" />
          {{ 'adminLayout.categories' | translate }}
        </a>
    
        <a (click)="closeMore()" routerLink="/admin/security/" routerLinkActive="active" appearance="secondary-grayscale" iconStart="@tui.shield"
          type="button" i18n="@@borrowItemButton">
          <tui-icon icon="@tui.shield" />
          {{ 'adminLayout.security' | translate }}
        </a>
    
        <a (click)="closeMore()" routerLink="/admin/pages/" routerLinkActive="active" appearance="secondary-grayscale"
          iconStart="@tui.book-open-text" type="button" i18n="@@borrowItemButton">
          <tui-icon icon="@tui.book-open-text" />
          {{ 'adminLayout.pages' | translate }}
        </a>
        </div>
    </ng-template>
</button>
} @else {
    <a routerLink="/admin/categories/" routerLinkActive="active" appearance="secondary-grayscale"
    iconStart="@tui.chart-column-stacked" type="button" i18n="@@borrowItemButton">
    <tui-icon icon="@tui.chart-column-stacked" />
    {{ 'adminLayout.categories' | translate }}
  </a>

  <a routerLink="/admin/security/" routerLinkActive="active" appearance="secondary-grayscale" iconStart="@tui.shield"
    type="button" i18n="@@borrowItemButton">
    <tui-icon icon="@tui.shield" />
    {{ 'adminLayout.security' | translate }}
  </a>

  <a routerLink="/admin/pages/" routerLinkActive="active" appearance="secondary-grayscale"
    iconStart="@tui.book-open-text" type="button" i18n="@@borrowItemButton">
    <tui-icon icon="@tui.book-open-text" />
    {{ 'adminLayout.pages' | translate }}
  </a>
}
  </nav>


  <div [style.display]="'flex'">
    <main tuiNavigationMain>
      <router-outlet></router-outlet>
    </main>
  </div>

  <tos-footer></tos-footer>
</tui-root>