<tos-table
    [addActionRoute]="'/admin/users/add'"
    [addActionIcon]="'@tui.plus'"
    [getDataFunction]="getDataFunction"
    [columns]="columns"
>
    <div add-action-content>Add page</div>

    <ng-template
        #cardTemplate
        let-item="item"
    >
        <div class="page-content">
            <h3>{{ item.title }}</h3>
            <div class="page-details">
                <label>Ref</label>
                <span>{{ item.ref }}</span>

                <label>Position</label>
                <span>{{ item.position }}</span>

            </div>
        </div>
    </ng-template>

    <ng-template
        #itemActionsTemplate
        let-item="item"
    >
        <div class="page-actions">

            <button
                [routerLink]="['/admin/pages', item.ref, 'edit']"
                appearance="outline"
                iconStart="@tui.pen"
                size="s"
                tuiIconButton
                type="button"
                [style.border-radius.%]="100"
            >
                Edit
            </button>
            <button
                (click)="deletePage(item)"
                appearance="outline"
                iconStart="@tui.trash-2"
                size="s"
                tuiIconButton
                type="button"
                [style.border-radius.%]="100"
            >
                Delete
            </button>
        </div>
    </ng-template>

    <ng-template
        #itemRowTemplate
        let-item="item"
        let-column="column"
    >

    </ng-template>
</tos-table>
