<div class="dashboard-models-container">
  <users-count />
  <items-count />
  <libraries-count />
</div>

@defer (on viewport) {
  <div class="dashboard-top-container">
    <top-items />
    <top-categories />
    <top-borrowers />
  </div>

  <div class="dashboard-borrow-container">
    <borrows-stat />
  </div>
} @placeholder {
  <div class="dashboard-top-container">
    <p>{{ 'dashboard.loading' | translate }}</p>
  </div>
}

@defer (on viewport) {
  <div class="user-borrows-records">
    <filtered-and-paginated-borrow-records
    [getItemsParams]="getItemsParams"
    [enableStatusFiltering]="true"
  >
  </filtered-and-paginated-borrow-records>
  
  </div>
} @placeholder {
  <div class="dashboard-top-container">
    <p>{{ 'dashboard.loading' | translate }}</p>
  </div>
}
