@use 'styles' as *;

.layout-container {
    padding: 0 10px;
    padding-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.communities-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.community-card {
    position: relative;
    margin: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    padding: 20px;
    width: 400px;
    max-width: 100%;
    height: 200px;

    tui-avatar {
        float: left;
    }
}

.community-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.add-community-card {
    background: rgba(251, 251, 251, 0.8);
}

.add-community-card:hover {
    background: rgb(162, 162, 162);
    cursor: pointer;
}

.add-community-card tui-icon {
    margin: auto;
}

button {
    border-radius: 30px;
    font-size: small;
    font-weight: 600;
}

.item-actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4%;
    height: 14%;
    display: flex;
    justify-content: flex-end;
}

.item-actions tui-icon {
    color: var(--tos-text-primary);
}



.bottom-actions {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px; // Optional: Adjust the gap between grid items


    button {
        font-size: small;
        font-weight: 600;
        margin: 2px;
    }

    .items-count {
        grid-column: span 6;
    }

    .items-button {
        grid-column: span 6;
    }
}


.location-container {
    width: 400px;
    height: 400px;
    padding: 30px 30px;
    display: block;


    .location-input {
        height: 60px;
    }

    .location-distance {
        height: 40px;
    }

    .location-suggestions tui-badge {
        margin: 5px 0;
        cursor: pointer;
    }
}

.search-bar-container {
    width: 100%;
    margin-bottom: 40px;
    padding-top: 40px;

    .search-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0rem;
        width: 80%;
        padding: 0px;
        padding-left: 30px;

        margin: 0 auto;
        margin-bottom: 20px;


        background-color: #fff;
        border-radius: 80px;
        overflow: hidden;
        text-align: left;
        transition: transform 0.2s ease,
            box-shadow 0.2s ease;
        border: 0px solid rgb(226, 232, 240);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1),
            0 1px 2px -1px rgb(0 0 0 / .1) !important;


        .search-input,
        .location-input {
            padding: 15px;

            input {
                width: calc(100% - 45px);
                margin-left: 6px;
                font-size: large;
                border: 0;
                height: 24px;

                box-shadow: none;
                outline: none;

                position: relative;
                top: 2px;
            }
        }

        .search-date-range {
            width: 100%;
        }

        .sort-by button {
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
        }

        button {
            padding: 30px;
            width: 100%;
            border-left: 1px solid lightgray; // Adjust the color and width as needed
            border-radius: 0;
        }
    }
}


.map-container {
    width: 82%;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .map-container {
        width: 100% !important;
        margin-bottom: 20px;
    }
}


.map-frame {
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1),
        0 1px 2px -1px rgb(0 0 0 / .1) !important;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

#map {
    height: 300px;
}