<div class="layout-container">

  <div class="search-bar-container">
    <div class="search-bar">
      <div class="search-input">
        <tui-icon icon="@tui.search" />
        <input [(ngModel)]="searchText" [placeholder]="'communities.searchPlaceholder' | translate"
          (input)="onTextFilterChange()" />
      </div>

      <div class="categories-filtering">
        <button appearance="flat" size="l" tuiButton topRight tuiDropdownAlign="right" type="button"
          [tuiAppearanceState]="openDropdownLocation ? 'active' : null" [tuiDropdownAlign]="'center'"
          [tuiDropdown]="dropdownlocation" [(tuiDropdownOpen)]="openDropdownLocation"
          tuiFade>
          <tui-icon icon="@tui.map" />
          @if (selectedLocation) {
            <tui-badge appearance="primary">
              {{ distanceControl.value }} km
            </tui-badge>
            }
          {{ getLocationName() }}

        </button>

        <ng-template #dropdownlocation let-close>
          <div class="location-container">
            <div class="location-input">
              <tui-textfield iconStart="@tui.map" tuiTextfieldSize="m">
                <label tuiLabel>{{ 'communities.enterLocation' | translate }}</label>

                <input [placeholder]="'communities.locationPlaceholder' | translate" tuiInputNumber
                  [formControl]="searchLocationControl" />
              </tui-textfield>
            </div>

            <div class="location-distance">
              <input size="m" tuiSlider type="range" [formControl]="distanceControl" [max]="100" [min]="3" [segments]="4"
                [step]="25" />
              <div class="ticks-labels">
                @for (label of labels; track label) {
                <tui-badge appearance="primary" (click)="patchValue(label)">
                  {{ label }} km
                </tui-badge>
                }
              </div>
            </div>

            <div class="location-suggestions">
              @if (showLocationLoader) {
              <div class="location-loader">
                <tui-loader />
              </div>
              } @else {
              @if (locationSuggestions().length > 0) {
              <div class="suggestions-list">
                @for (suggestion of locationSuggestions(); track suggestion) {
                <tui-badge size="xl" (click)="selectSuggestion(suggestion)">{{ suggestion.label }}</tui-badge>

                }
              </div>
              }
              }
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>

  <div class="communities-items-container">

    @for (community of communities; track community) {
    <div class="community-card" tuiAppearance="floating" tuiCardMedium
      routerLink="/hub/communities/{{ community.id }}/pages" (mouseenter)="movePinToCenter(community.id)">
      <div class="item-actions">
        <tui-icon class="community-icon" [icon]="community.requiresApproval ? '@tui.lock' : '@tui.lock-open'" />

        <tui-icon class="community-icon" icon="@tui.share-2" />
      </div>

      @if (community.picture) {
      <tui-avatar size="m" class="tui-space_horizontal-4">
        <picture>
          <source media="(min-width: 600px)" [srcset]="community.picture" />
          <img alt="Alex Inkin" [src]="community.picture" />
        </picture>
      </tui-avatar>
      } @else {
      <tui-avatar class="user-avatar" [src]="community.name | tuiInitials" [style.background]="
          community.name | tuiAutoColor
        " size="m">
      </tui-avatar>
      }

      <h2 tuiTitle>
        {{ community.name }}
        <span tuiSubtitle>{{ community.location.address }}</span>
      </h2>
      <div class="bottom-actions">
        <button appearance="outline" class="items-count" size="m" routerLink="/hub/communities/{{ community.id }}/pages"
          tuiButton type="button">
          {{ 'communities.seeCommunity' | translate }}
        </button>
        @if (community.requiresApproval) {
        <button appearance="primary" class="items-count" size="m" tuiButton type="button"
          (click)="requestToJoin(community)">
          {{ 'communities.requestToJoin' | translate }}
        </button>
        } @else {
        <button appearance="accent" class="items-count" size="m" tuiButton disabled type="button">
          {{ 'communities.joinCommunity' | translate }}
        </button>
        }
      </div>
    </div>
    }

    <div class="community-card add-community-card" routerLink="/hub/communities/add-community" tuiAppearance="floating"
      tuiCardMedium>
      <tui-icon icon="@tui.plus" [style.color]="'var(--tui-background-accent-1)'" />
    </div>
  </div>

  @if (totalPages > 1) {
  <tui-pagination [index]="currentPage" [length]="totalPages" (indexChange)="goToPage($event)" />
  }

</div>