<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %msg%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>


    <appender name="ASYNC-FULL-STDOUT-NOJSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
    </appender>


    <appender name="ASYNC-FULL-STDOUT-JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout"/>

            </encoder>
        </appender>
    </appender>

    <springProfile name="!json-logging">
        <logger additivity="false" level="DEBUG" name="reactor.netty.http.client.HttpClient">
            <appender-ref ref="ASYNC-FULL-STDOUT-NOJSON"/>
        </logger>
        <logger additivity="false" level="TRACE" name="dev.theopenshelf">
            <appender-ref ref="ASYNC-FULL-STDOUT-NOJSON"/>
        </logger>
        <logger additivity="false" level="DEBUG" name="org.springframework.cloud.gateway">
            <appender-ref ref="ASYNC-FULL-STDOUT-NOJSON"/>
        </logger>
        <logger additivity="false" level="DEBUG" name="org.springframework.web.server">
            <appender-ref ref="ASYNC-FULL-STDOUT-NOJSON"/>
        </logger>
        <logger additivity="false" level="DEBUG" name="org.springframework.web.reactive">
            <appender-ref ref="ASYNC-FULL-STDOUT-NOJSON"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="ASYNC-FULL-STDOUT-NOJSON"/>
        </root>
    </springProfile>

    <springProfile name="json-logging">
        <logger additivity="false" level="DEBUG" name="reactor.netty.http.client.HttpClient">
            <appender-ref ref="ASYNC-FULL-STDOUT-JSON"/>
        </logger>
        <logger additivity="false" level="TRACE" name="dev.theopenshelf">
            <appender-ref ref="ASYNC-FULL-STDOUT-JSON"/>
        </logger>
        <logger additivity="false" level="DEBUG" name="org.springframework.cloud.gateway">
            <appender-ref ref="ASYNC-FULL-STDOUT-NOJSON"/>
        </logger>
        <logger additivity="false" level="DEBUG" name="org.springframework.web.server">
            <appender-ref ref="ASYNC-FULL-STDOUT-NOJSON"/>
        </logger>
        <logger additivity="false" level="DEBUG" name="org.springframework.web.reactive">
            <appender-ref ref="ASYNC-FULL-STDOUT-NOJSON"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="ASYNC-FULL-STDOUT-JSON"/>
        </root>
    </springProfile>
</configuration>
