<div class="container">
  <h2>Edit Library</h2>

  <form [formGroup]="editLibraryForm" (ngSubmit)="onSubmit()" class="library-form">
    <div class="form-group">
      <tui-textfield>
        <label tuiLabel>Library Name</label>
        <input id="library-name" tuiTextfield type="text" formControlName="name" />
      </tui-textfield>
    </div>

    <div formGroupName="location">
      <tui-textfield>
        <label tuiLabel>Location Name</label>
        <input id="location-name" tuiTextfield type="text" formControlName="name" />
      </tui-textfield>

      <tui-textfield>
        <label tuiLabel>Address</label>
        <input id="address" tuiTextfield type="text" formControlName="address" />
      </tui-textfield>
    </div>

    <div class="form-group switch-group">
      <label>Community Accessible</label>
      <input tuiSwitch type="checkbox" formControlName="isCommunityAccessible" [showIcons]="true" />
    </div>

    <div class="form-group">
      <label for="template">Instructions</label>
      <br />
      <quill-editor formControlName="instructions" [modules]="editorConfig" style="height: 200px"></quill-editor>
    </div>

    <button tuiButton type="submit" appearance="accent" [disabled]="editLibraryForm.invalid">
      Save
    </button>
  </form>
</div>