<div class="profile-container">
    <h1>Edit your profile</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSave()">
      <label>Email</label>
      <input formControlName="email" type="email" placeholder="Enter your email" />
  
      <label>Password</label>
      <input formControlName="password" type="password" placeholder="Enter your password" />
  
      <!-- Address Fields -->
      <label>Street Address</label>
      <input formControlName="streetAddress" type="text" placeholder="Enter your street address" />
  
      <div class="row">
        <div class="column">
          <label>City</label>
          <input formControlName="city" type="text" placeholder="Enter your city" />
        </div>
        <div class="column">
          <label>Postal Code</label>
          <input formControlName="postalCode" type="text" placeholder="Enter your postal code" />
        </div>
      </div>
  
      <label>Country</label>
      <input formControlName="country" type="text" placeholder="Enter your country" />
  
      <button type="submit">Save</button>
    </form>
  </div>