<filtered-and-paginated
    [enableSearchBar]="enableSearchBar()"
    [getItemsParams]="getItemsParams()"
    [enableStatusFiltering]="enableStatusFiltering()"
    [enableCategoriesFiltering]="enableCategoriesFiltering()"
    [categoriesFilteringOpened]="categoriesFilteringOpened()"
    [sortingOptions]="sortingOptions()"
    [getItems]="fetchItems"
>
    <ng-template
        #itemTemplate
        let-item="item"
    >
        <borrow-record-card
            [item]="item.item"
            [borrowRecord]="item"
            [library]="getLibrary(item.item.libraryId)"
            [user]="usersByEmail.get(item.borrowedBy)"
        ></borrow-record-card>
    </ng-template>
</filtered-and-paginated>
