<filtered-and-paginated
    [enableSearchBar]="enableSearchBar()"
    [getItemsParams]="getItemsParams()"
    [enableStatusFiltering]="enableStatusFiltering()"
    [enableCategoriesFiltering]="enableCategoriesFiltering()"
    [categoriesFilteringOpened]="categoriesFilteringOpened()"
    [sortingOptions]="sortingOptions()"
    [getItems]="fetchItems"
    [library]="library()"
    [approvalTab]="approvalTab()"
>
    <ng-template
        #itemTemplate
        let-item="item"
    >
        <borrow-record-card
            [item]="showItem() ? item.item : undefined"
            [borrowRecord]="item"
            [library]="getLibrary(item.item.libraryId)"
            [user]="usersById.get(item.borrowedBy)"
            [pickUpItemCallback]="pickUpItem"
            [returnItemCallback]="returnItem"
            [cancelReservationCallback]="cancelReservation"
        ></borrow-record-card>
    </ng-template>
</filtered-and-paginated>
