<filtered-and-paginated
    [enableSearchBar]="enableSearchBar()"
    [getItemsParams]="getItemsParams()"
    [enableStatusFiltering]="enableStatusFiltering()"
    [enableCategoriesFiltering]="enableCategoriesFiltering()"
    [categoriesFilteringOpened]="categoriesFilteringOpened()"
    [sortingOptions]="sortingOptions()"
    [getItems]="fetchItems"
>
    <ng-template
        #itemTemplate
        let-item="item"
    >
        <borrow-item-card
            [borrowRecord]="item"
            [library]="getLibrary(item.item.libraryId)"
        ></borrow-item-card>
    </ng-template>
</filtered-and-paginated>
