<div tuiAppearance="floating" class="borrow-item-card">
  <!-- Flexbox container for the image and details -->
  <div class="card-content">
    <!-- Image Section -->
    <div class="image-container" routerLink="/community/items/{{ item().id }}">
      <img [src]="item().imageUrl" [alt]="item().name" class="item-image" />
      <button appearance="outline" class="accent details-button" size="m"
        routerLink="/community/items/{{ item().id }}" tuiButton type="button">
        <span class="details-button-text">See details</span>
        <tui-icon icon="@tui.arrow-right" />
      </button>
    </div>

    <!-- Item Details -->

    <div class="item-content-container">
      <div class="item-title-container">
        <div class="item-title">
          <h2 tuiTitle>
            {{ item().name }}
          </h2>
        </div>
        <div class="item-subtitle">
          <div class="item-categories">
            <tui-icon [icon]="item().category.icon" />
            <span class="category-name">{{ item().category.name }}</span>
          </div>
          @if (library()) {
          <span class="library">
            <tui-icon icon="@tui.library" />
            <span class="library-value">{{ library()?.name }}</span>
          </span>
          }

        </div>
      </div>
      <div class="timeline-container">
        @if (nextBorrowRecord()) {
        <borrow-record-timeline [item]="item()" [borrowRecord]="nextBorrowRecord()"></borrow-record-timeline>
        }
      </div>
    </div>
  </div>
</div>