<div tuiAppearance="floating" class="item-card">
  <!-- Flexbox container for the image and details -->
  <div class="card-content">
    <!-- Image Section -->
    <div class="image-container">
      <img [src]="item().imageUrl" [alt]="item().name" class="item-image" />
    </div>

    <!-- Item Details -->
    <div class="item-content">
      <div class="item-details">
        <div class="item-details-top-right">
          <button class="reservation-state" iconStart="@tui.calendar-clock" tuiButton
            [appearance]="isReserved() ? 'primary' : 'outline'" size="m" type="button"
            [tuiHint]="isReserved() ? 'Your next reservation: ' + formatReservationDate(nextReservation().startDate) + ' - ' + formatReservationDate(nextReservation().endDate) : 'You have no upcoming reservations'">
          </button>

          <button class="favorite" [ngClass]="{'selected': item().favorite}" iconStart="@tui.heart" tuiButton
            [appearance]="item().favorite ? 'primary' : 'outline'" size="s" type="button"
            (click)="markAsFavorite(item())"></button>
        </div>
        <h2 tuiTitle>
          {{ item().name }}
        </h2>
        @if (library()) {
          <span class="library">
            <tui-icon icon="@tui.library" />
            <span class="library-value">{{ library()?.name }}</span>
          </span>
        }
        <span class="shortDescription">
          {{ item().shortDescription }}
        </span>
      </div>

      <!-- Borrow Button -->
      <div class="item-actions">
        @if (!item().isBookedToday) {
        <button appearance="outline" size="m" routerLink="/community/items/{{item().id}}" tuiButton type="button">
          Available now
        </button>
        }
        @if (item().isBookedToday) {
        <button appearance="secondary" size="m" routerLink="/community/items/{{item().id}}" tuiButton type="button">
          Currently borrowed
        </button>
        }

        <button class="borrow-counts" disabled appearance="flat" size="m" tuiButton type="button">
          {{ item().borrowCount }} borrow(s)
        </button>

        <button appearance="outline" class="accent details-button" size="m" routerLink="/community/items/{{item().id}}" tuiButton
          type="button">
          More
          <tui-icon icon="@tui.arrow-right" />
        </button>
      </div>
    </div>
  </div>
</div>