@use 'theme' as *;

/* Card styling */
.item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    h2 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .shortDescription {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
    }

    .location,
    .owner {
        tui-icon {
            margin-right: 2px;
            width: 16px;
            height: 16px;
            font-weight: lighter;
        }

        color: #525252;
        margin-right: 5px;
    }
}

/* Card container for image + content */
.card-content {
    display: flex;
    width: 100%;
}

/* Image Section */
.image-container {
    width: 33%;
    height: 200px;
    border-right: 1px solid #ccc;

    .item-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.item-content {
    padding-top: 10px;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 2%;
    width: 62%;
}

/* Item Details Section */
.item-details {
    height: 80%;
}

/* Item Actions Section */
.item-actions {
    padding: 2% 0;
    height: 14%;
    border-top: 1px solid rgb(226, 232, 240);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    button {
        border-radius: 30px;
        font-size: small;
        font-weight: 600;
    }

    .borrow-counts {
        color: var(--tos-background-accent-1);
    }

    .details-button {
        padding: 10px;
    }
}

.item-details-top-right {
    float: right;
    display: flex;
    justify-content: flex-end;


    button.favorite[tuiButton][data-appearance="outline"] {
        color: var(--tos-text-accent);
    }
}

.favorite,
.reservation-state {
    border-radius: 30px;
    padding: 20px;
    margin: 2px;
    width: 30px;
    height: 30px;
}