<div id="login-container">
    <div id="login-form-section">
      <h2>Sign In</h2>
      <p>Don't have an account? <a routerLink="/sign-up">Sign Up</a></p>
  
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <label>Email</label>
        <input formControlName="email" type="email" />
        <label>Password</label>
        <input formControlName="password" type="password" />
        <button type="submit">Sign In</button>
      </form>
      <p><a routerLink="/forgot-password">Forgot Password?</a></p>
    </div>
    <div id="login-welcome-section">
      <svg viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" class="background-motif">
        <g fill="none" stroke="currentColor" stroke-width="100" class="text-gray-700 opacity-25">
          <circle r="234" cx="196" cy="23"></circle>
          <circle r="234" cx="790" cy="491"></circle>
        </g>
      </svg>
      <div id="login-welcome-content">
        <h2>Welcome to Open Shelf</h2>
        <p>A place where you can borrow anything you need</p>
        <p>The Library of Things tries to avoid the unnecessary production and purchase of objects of little use which
          later end up just stored away in a drawer</p>
      </div>
    </div>
  </div>