/* You can add global styles to this file, and also import other style files */
@use 'theme' as *;

body tui-root {
    background-color: $background-color;
    font-family: "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

tui-root {
    --tui-background-base: $background-color;
}

select {
    padding: 20px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(203 213 225 / 1 ) !important;
    background-color: rgb(255 255 255 / 1) !important;
    height: 40px;
}