@if (enableSearchBar()) {
<div class="search-bar-container">
  <div class="search-bar">
    <div class="search-input">
      <tui-icon icon="@tui.search" />
      <input [(ngModel)]="searchText" [placeholder]="'filteredAndPaginated.searchPlaceholder' | translate" (input)="onTextFilterChange()" />
    </div>

    <div class="categories-filtering">
      <button appearance="flat" size="l" tuiButton topRight tuiDropdownAlign="right" type="button"
        [tuiAppearanceState]="openDropdownCategories ? 'active' : null" [tuiDropdownAlign]="'center'"
        [tuiDropdown]="dropdowncategories" [(tuiDropdownOpen)]="openDropdownCategories">
        <tui-icon icon="@tui.chart-bar-stacked" />
        {{ 'filteredAndPaginated.categoriesFilter' | translate }}
        @if (selectedCategories.size > 0) {
        <span class="selected-categories-count">({{ selectedCategories.size }})</span>
        }
      </button>

      <ng-template #dropdowncategories let-close>
        <div class="categories-container">
          @for (category of categories; track category) {
          <div class="category" [class.active]="isCategorySelected(category)"
            (click)="toggleCategorySelection(category)">
            <tui-icon [icon]="category.icon" />
            {{ category.name }}
          </div>
          }
        </div>
      </ng-template>
    </div>

    <div class="search-date-range">
      <button appearance="flat" size="l" tuiButton topRight tuiDropdownAlign="right" type="button"
        [tuiAppearanceState]="openDropdownWhen ? 'active' : null" [tuiDropdownAlign]="'center'"
        [tuiDropdown]="dropdownwhen" [(tuiDropdownOpen)]="openDropdownWhen">
        <tui-icon icon="@tui.calendar-clock" />
        @if (selectedDate) {
        <span class="selected-date-count">({{ selectedDate.from.toUtcNativeDate() | date:'dd/MM/yyyy' }} - {{ selectedDate.to.toUtcNativeDate() | date:'dd/MM/yyyy' }})</span>
        } @else {
        {{ 'filteredAndPaginated.dateRangeFilter' | translate }}
        }
      </button>

      <ng-template #dropdownwhen let-close>
        <div class="calendar-container">
          <tui-calendar-range [defaultViewedMonth]="defaultViewedMonth" [min]="min" [max]="max"
            [value]="selectedDate || null" (valueChange)="onRangeChange($event)" />
        </div>
      </ng-template>
    </div>

    <div class="search-where">
      <button appearance="flat" size="l" tuiButton topRight tuiDropdownAlign="right" type="button"
        [tuiAppearanceState]="openDropdownWhere ? 'active' : null" [tuiDropdownAlign]="'center'"
        [tuiDropdown]="dropdownwhere" [(tuiDropdownOpen)]="openDropdownWhere">
        <tui-icon icon="@tui.library" />
        {{ 'filteredAndPaginated.librariesFilter' | translate }}
        @if (selectedLibrariesCount() > 0) {
        <span class="selected-libraries-count">({{ selectedLibrariesCount() }})</span>
        }
      </button>

      <ng-template #dropdownwhere let-close>
        <div class="libraries-container">
          @for (library of libraries; track library) {
          <div class="library" [class.active]="isLibrarySelected(library)" (click)="toggleLibrarySelection(library)">
            <tui-icon icon="@tui.library" />

            {{ library.name }}
          </div>
          }
        </div>
      </ng-template>
    </div>

    <div class="sort-by">
      <button appearance="flat" size="l" tuiButton topRight tuiDropdownAlign="center" type="button"
        [tuiAppearanceState]="openDropdownSort ? 'active' : null" [tuiDropdown]="dropdownsort"
        [(tuiDropdownOpen)]="openDropdownSort">
        <tui-icon icon="@tui.arrow-down-up" />
        {{ 'filteredAndPaginated.sortByFilter' | translate }}
      </button>

      <ng-template #dropdownsort let-close>
        <tui-data-list class="sorting-options">
          <tui-opt-group>
            @for (sortingOption of sortingOptions(); track sortingOption) {
            <button class="sorting-option" tuiOption type="button" [class.active]="isSortingSelected(sortingOption)"
              (click)="toggleSortBy(sortingOption)">
              {{ sortingOption }}
            </button>
            }
          </tui-opt-group>
        </tui-data-list>
      </ng-template>
    </div>
  </div>
</div>
}


<div class="layout-container">
  <!-- Filter Section -->

  @if (!enableSearchBar()) {
  <aside class="sidebar">
    <ng-container *ngTemplateOutlet="sidebarTemplate"></ng-container>

    <div class="top-actions-left">
      <fieldset tuiTextfieldSize="m" class="search">
        <tui-textfield iconStart="@tui.search">
          <input [(ngModel)]="searchText" [placeholder]="'filteredAndPaginated.searchPlaceholder' | translate" tuiTextfield (input)="onTextFilterChange()" />
        </tui-textfield>
      </fieldset>

      <tui-select tuiTextfieldSize="m" class="sorting-select" [formControl]="sortingSelected"
        [tuiTextfieldLabelOutside]="true" size="l">
        {{ 'filteredAndPaginated.sortByFilter' | translate }}
        <input [placeholder]="'filteredAndPaginated.sortByFilter' | translate" tuiTextfieldLegacy />
        <tui-data-list-wrapper *tuiDataList [items]="sortingOptions()" />
      </tui-select>
    </div>

    @if (enableCategoriesFiltering()) {
    <tui-accordion [size]="'m'" class="filters-section">
      <button [tuiAccordion]="!isMobile && categoriesFilteringOpened()">
        <tui-icon icon="@tui.sliders-horizontal" />
        {{ 'filteredAndPaginated.filter' | translate }}
      </button>

      <tui-expand>

        <div class="filter-group filter-categories">
          <h3 class="filter-category-title" i18n="@@categoryFilter">
            {{ 'filteredAndPaginated.categories' | translate }}
          </h3>
          <ul>
            @for (category of categories; track category) {
            <li class="filter-category" [class.active]="isCategorySelected(category)"
              (click)="toggleCategorySelection(category)">
              <tui-icon [icon]="category.icon" />
              {{ category.name }}
            </li>
            }
          </ul>
        </div>
      </tui-expand>
    </tui-accordion>
    }

  </aside>
  }

  <main class="grid-container">

    @if (enableStatusFiltering()) {
    <tui-tabs [(activeItemIndex)]="activeStatusIndex">
      @for (status of statuses; track status) {
      <button [iconStart]="status.icon" tuiTab type="button" (click)="selectStatus(status.status)">
        {{ getStatusText(status.status) }}
        <tui-badge class="status-count" [appearance]="getStatusCount(status.status) > 0 ? 'primary' : 'secondary'">{{ getStatusCount(status.status) }}</tui-badge>

      </button>
      }
    </tui-tabs>
    }

    <div class="items-container" [class.items-with-sidebar]="!enableSearchBar()">
      @for (item of items; track item) {
        <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"></ng-container>
      }
      @if (items.length === 0) {
      <div class="no-items">
        <p><tui-icon icon="@tui.search-x" /> No item found</p>
      </div>
      }
    </div>
    @if (totalPages > 1) {
    <tui-pagination [index]="currentPage" [length]="totalPages" (indexChange)="goToPage($event)" />
    }
  </main>
</div>