<tos-table
  [addActionRoute]="'/admin/items/add'"
  [tableData]="items"
  [columns]="columns"
>
  <div add-action-content>
    <tui-icon icon="@tui.shopping-basket" [style.height.rem]="1" />

    Add item
  </div>

  <ng-template #itemRowTemplate let-item="item" let-column="column">
    @if (column.key === "img") {
      <img [src]="item.imageUrl" [alt]="item.name" class="item-image" />
    }
    @if (column.key === "category") {
      <category-badge [category]="item.category"></category-badge>
    }
    @if (column.key === "state") {
      <tui-badge
        [style.background-color]="item.state.statusColor"
        [style.color]="'white'"
      >
        {{ item.state.label }}
      </tui-badge>
    }
  </ng-template>

  <ng-template #itemActionsTemplate let-item="item">
    <button
      [routerLink]="['/admin/items/', item.id, 'edit']"
      appearance="outline"
      iconStart="@tui.pen"
      size="s"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
    >
      Edit
    </button>
    <button
      appearance="outline"
      iconStart="@tui.archive"
      size="s"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
    >
      Archive
    </button>
  </ng-template>
</tos-table>
