@use 'styles' as *;

.item-image {
    width: 50px;
    height: 50px;
}

.top-actions {
    float: left;
    margin-bottom: 10px;
}

.image-container {
    width: 100%;
    height: 50%;
    border-right: 1px solid #ccc;

    .item-image {
        width: 100%;
        object-fit: cover;
    }
}

.card-content {
    width: 100%;
    height: 300px;
}

.item-content {
    width: 100%;
    height: 50%;

    h2 {
        margin: 0;
        margin-bottom: 10px;
    }


    .item-details {
        height: 85%;
        padding: 10px;

        .item-details-top-right {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            justify-content: center;
        }
    }


    .stats {
        height: 15%;
        border-top: 1px solid #e7e7e7;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: left;
        text-align: left;
        padding-left: 15px;

    }
}

.items-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: left;
    align-items: left;
    text-align: left !important;
    padding-bottom: 10px;


}