@use 'theme' as *;

/* Grid container styling */
.grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row; /* Align children in a row */
    align-items: flex-start; /* Align items to the top */
}

.sidebar {
    flex: 0 0 250px; /* Fixed width for the sidebar */
    background-color: $white;
    padding: 1rem;
    border-radius: 16px;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    margin-top: 17px;
}

.sidebar h1 {
    margin: 0;
}

tui-accordion-item {
    width: 100%;
}   

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-container label {
    margin-right: 10px;
}