@use 'theme' as *;

.add-item {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.library-section {

    h2 {
        margin-top: 0;
    }


    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--tos-background-base);
    border-radius: 16px;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1),
    0 1px 2px -1px rgb(0 0 0 / .1) !important;

    h1,
    h3 {
        margin: 0;
    }

    .library-actions {
        float: right;

        button {
            margin: 0 2px;
            border-radius: 30px;
        }
    }

    .toggle-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
            margin-right: 10px;
        }
    }


}