.library-card {
    margin: 10px;
    float: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;  
    padding: 20px;
    width: 300px;
}

.library-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}   

.add-library-card {
    background: rgba(251, 251, 251, 0.8);
}

.add-library-card:hover {
    background: rgb(162, 162, 162);
    cursor: pointer;
}

.add-library-card tui-icon {
    margin: auto;
}   